.error {
    color: red;
}

.info {
    color: darkblue;
}

.switch-wrapper {
    display: inline-block;
    position: relative;
    top: 3px;
  }

.mv-bar.mv-ui {
    display: none;
}

.nav-tabs > li {
    position:relative;
}
.nav-tabs > li > a {
    display:inline-block;
}
.nav-tabs > li > span {
    display:none;
    cursor:pointer;
    position:absolute;
    right: 6px;
    top: 8px;
    color: red;
}
.nav-tabs > li:hover > span {
    display: inline-block;
}

[contenteditable] {
  border: solid 1px lightgreen;
  padding: 5px;
  border-radius: 3px;
}