{% extends "base.html" %}
{% block headlink-right %}
<a href="/account/login">Log in</a>
{% endblock %}
{% block content %}
<form method="POST" action="/account/register">
  {% csrf_token %}
  Register for a new account!
  <hr />
  <label for="register_email">Email</label><br />
	<input type="text" name="email" id="register_email" /><br />
	<label for="signup_password">Password</label>
	<input type="password" name="password" id="signup_password"/> <br /> <br />
	<input type="submit" value="Submit" />
</form>
{% endblock %}

