# Ignore all compiled python files.
*.pyc

# Ignore private file
private.py

# Ignore all emacs backup files
*.*~

# Ignore Mac DS_Store Files
.DS_Store

# Local Settings
local_settings.py

# migrations 
schema/migrations/*

# Google secrets file
gmail_setup/client_secrets.json

sandbox/
\.idea/

\.vscode/

venv/

\.python-version
scripts/send_email.py
scripts/better_send_email.py
scripts/oauth2_creds.json
scripts/imap_interact.ini
.history
\.env

loop_sync_user_inbox\.lock

register_inbox\.lock
