# Ignore all compiled python files.
*.pyc

# Ignore private file
private.py

# Ignore all emacs backup files
*.*~

# Ignore Mac DS_Store Files
.DS_Store

# Local Settings
local_settings.py

# migrations 
schema/migrations/*

# Google secrets file
gmail_setup/client_secrets.json
http_handler/static/css/fonts/glyphicons-halflings-regular.woff2

http_handler/static/css/fonts/glyphicons-halflings-regular.ttf

http_handler/static/css/fonts/glyphicons-halflings-regular.svg

http_handler/static/css/fonts/glyphicons-halflings-regular.eot

http_handler/static/css/fonts/glyphicons-halflings-regular.woff
