/*
@author: Anant Bhardwaj
@date: 08/11/2012
*/

:root {
	--primary-color: #447EAC;
	--primary-light-color: #D7ECFA;
	--secondary-color: #FF7477;
}


body, html {
	height: 100%;
}

body {
  padding-top: 50px;
}

hr {
	background-color: var(--primary-color);
	border: thin var(--primary-color) solid;
}

.txt-primary {
	color: var(--primary-color);
}

#navbar {
	background: #F8F8F8;
	filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.10));
}

#logo {
	font-family: 'Pacifico', cursive;
	font-size: 28px;
	color: var(--primary-color);
}

#logo:hover {
	filter: contrast(150%) brightness(105%);
}

#login-btn, #logout-btn, #cta-btn {
	background: none;
	font-weight: bold;
	color: var(--primary-color);
	border: 2px solid var(--primary-color);
	transition: ease-out 0.4s;
}

#login-btn:hover,
#logout-btn:hover,
#login-btn:focus,
#login-btn:focus {
  box-shadow: inset 0 0 0 2em var(--primary-color);
  color: #F8F8F8;
}

#intro {
	display: flex;
	flex-direction: column;
	background: padding-box url(../third-party/images/home-intro-bg.svg);
	width: 100vw;
	height: 75vh;
	justify-content: center;
}

#intro-heading {
	font-size: clamp(2em, 1em + 4vw, 4em);
	font-family: 'Pacifico', cursive;
	text-align: center;
	color: var(--primary-color);
	align-self: center;
}

#intro-subheading {
	font-size: clamp(0.5em, 1em + 2vw, 2em);
	font-weight: 500;
	text-align: center;
	color: #000000;
	align-self: center;
}

#call-to-action {
	text-decoration: none;
	align-self: center;
}

#cta-btn {
	background: none;
	border: 2px solid var(--secondary-color);
	padding: 1em 2em;
	font-size: clamp(0.5em, 1em + 2vw, 1em);
	color: var(--secondary-color);
	font-weight: bold;
	transition: ease-out 0.4s;
}

#cta-btn:hover,
#cta-btn:focus {
  box-shadow: inset 16.5em 0 0 0 var(--secondary-color);
  color: #F8F8F8;
}

#feature-desc {
	width: 66vw;
	margin: 0 auto;
}

.feature-title {
	display: inline-block;
	font-size: clamp(0.5em, 1em + 2vw, 1.5em);
	color: #FFF;
	font-weight: 500;
	border-radius: .25em;
	text-align: left;
}

.feature-heading {
	font-size: clamp(0.5em, 1em + 2vw, 1.5em);
	color: var(--primary-color);
	text-align: left;
}

.feature-subheading {
	font-size: clamp(0.5em, 1em + 2vw, 1em);
	font-weight: 500;
	text-align: left;
}

#feature-demo {
	width: 66vw;
	margin: 0 auto;
	background-color: #FFF;
	justify-content: center;
	box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.25);
	border-radius: 1em;
}

.demo-settings {
	background-color: var(--primary-light-color);
	border-radius: 1em;
	margin: clamp(0.5em, 0.5em + 2vw, 2em);
}

.demo-emails {
	background-color: var(--primary-light-color);
	list-style-type: none;
	border-radius: 1em;
	margin: clamp(0.5em, 0.5em + 2vw, 2em);
}

.sample-email {
	font-weight: bold;
	background-color: #FFF;
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
}

.demo-sender {
	font-weight: bold;
	color: var(--primary-color);
}

#container-about {
	display: flex;
	width: 800px;
	margin: 0 auto;
	background-color: #f8f8f8;
}

/* 800px breakpoint to have about and home sections split into rows */
@media only screen and (max-width: 800px) { 
	#container-home {
		width: fit-content;
	}
	#container-about {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: fit-content;
	}
}

/* 1230px breakpoint to have demo section split into rows */
@media only screen and (max-width: 1230px) { 
	#feature-demo {
		flex-direction: column;
		width: 80vw;
	}
	#demo-desc {
		max-width: 100%;
	}
}

/* 270px breakpoint to links under Publications section in rows */
@media only screen and (max-width: 270px) { 
	#pub-links {
		display: flex;
		flex-direction: column;
	}
}

footer {
	display: flex;
	flex-direction: column;
	background-color: #E9ECEF;
	padding: clamp(1em, 1em + 2vw, 2em);
}

#footer-info {
	font-size: clamp(0.75em, 1em + 2vw, 1em);
}

.footer-actions {
	display: flex;
	justify-content: center;
}

.footer-logo {
	filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.10));
}

.footer-logo:hover {
	filter: contrast(150%) brightness(105%);
}

.footer-nav {
	display: flex;
	align-items: center;
}

.footer-links {
	display: flex;
	list-style-type: none;
}

.footer-link {
	font-size: clamp(1em, 1em + 2vw, 1.5em);
	color: var(--primary-color);
	text-decoration: none;
	transition: ease-out 0.4s;
}

.footer-link:hover {
	color: var(--secondary-color);
	border-bottom: 5px solid var(--secondary-color);
}

.footer-join {
	display: flex;
	align-items: center;
	filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.10));
}

.join-email {
	height: 3em;
	border: none;
	border-radius: 0.25em 0 0 0.25rem;
}

.join-email:focus {
	outline: none;
}

.join-submit[value="Join"] {
	height: 3em;
	font-weight: 500;
	background-color: var(--secondary-color);
	border: none;
	border-radius: 0 0.25rem 0.25rem 0;
	outline: none;
}

.join-submit[value="Join"]:hover {
	filter: contrast(200%);
}

/* 789px breakpoint to have demo section split into rows */
@media only screen and (max-width: 789px) {
	.footer-about {
		text-align: center;
	}
	#footer-info {
		font-size: clamp(0.25em, 0.25em + 2vw, 1em);
	}
	.footer-actions {
		flex-direction: column;
		align-items: center;
	} 
	.footer-nav {
		flex-direction: column;
	}
	.footer-links {
		flex-direction: column;
		font-size: clamp(0.25em, 0.25em + 2vw, 1em);
	}
	.footer-join {
		margin-top: clamp(0.5em, 0.5em + 2vw, 1em);
	}
}

#about-left {
	width: 100%;
}

#about-right {
	width: fit-content;
	text-align: center;
}

@media (min-width: 768px) and (max-width: 1000px) {
    .navbar-collapse.collapse {
        display: none !important;
    }
    .navbar-collapse.collapse.in {
        display: block !important;
    }
    .navbar-header .collapse, .navbar-toggle {
        display:block !important;
    }
    .navbar-header {
        float:none;
    }
}

.navbar-default .navbar-brand {
	color: #000000;
}

.accounts {
	margin:0px auto;
	margin-top:30px; 
	padding:30px; 
	vertical-align:top;
	background-color: var(--primary-light-color);
	max-width:380px;
}

.group-container {
	margin:0px auto;
	margin-top:30px; 
	padding:30px; 
	vertical-align:top;
	background-color: var(--primary-light-color);
}

.group-container-posts {
	margin:0px auto;
	margin-top:30px; 
	padding:8px; 
	vertical-align:top;
	background-color: var(--primary-light-color);
}

#text-search-post {
	width: 316px;
	background-color:#ffffff;
}

.default-text {
	color: #000000;
	font-style: italic;
}

.tt-hint {
	visibility: none;
}

.suggestion {
	border: var(--primary-light-color) solid 1px;
}

.tt-dropdown-menu {
	background-color: #ffffff;
	width: 326px;
}

.tt-dataset-posts {
	border: var(--primary-color) solid 1px;
}

.tt-dataset-groups {
	border: var(--primary-color) solid 1px;
}

.tt-dataset-posts a {
	text-decoration: none;
	color: #000000;
}

.postheader {
	font-size: 20px; 
	font-weight: bold; 
	padding-right: 20px;
}

.tt-dataset-posts div:hover {
	background-color: #FFF7CE;
}

.tt-dataset-groups a {
	text-decoration: none;
	color: #000000;
}

.tt-dataset-groups div:hover {
	background-color: #FFF7CE;
}

.tt-cursor{
    background-color: #FFF7CE;
}


.dropdown-left {
	min-width: 105px;
	max-width: 240px;
}

.dropdown-right {
	min-width: 150px;
	max-width: 215px;
}


.accounts label{
	font-weight:bold; 
	color:#666;
}

.accounts input {
	margin: 5px;
}

#post-column-area-wrapper {
    color: #333;
}

#left-column-area-wrapper{
    position: absolute;
        top: 50px;
        right: auto;
        bottom: 0px;
        left: 0px;
        color: #333;
        width: 350px;
        z-index:100;
        border-right: #999 solid 1px;
}

#post-column-area{
      margin:0;
      padding:0;
}


#left-column-area{
      margin:0;
      padding:0;
}

.left-column-area-metadata{
	float:right;
	width:70px;
	text-align:right;
}

.label2 {
	display: inline;
	padding: .2em .6em .3em;
	font-size: 75%;
	font-weight: 700;
	line-height: 1;
	color: #fff;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	border-radius: .25em;
}


.label3 {
	display: inline;
	padding: .2em .6em .3em;
	font-size: 80%;
	line-height: 1;
	color: #000000;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	border-radius: .25em;
	border: 1px solid #bbbbbb;
	background-color: #D7ECFA;
	font-weight: 400;
	cursor: pointer;
}


#main-area-wrapper{
	position:absolute;
	top: 50px;
	right: 0px;
	bottom: 0px;
	padding: 10px;
	left: 350px;
	min-width: 450px;
	overflow: auto;
}

#main-area{
      margin:0;
      padding:0;
}


.middle-column-area-content .ellipsis {
	display:block;
	white-space: nowrap;
	max-width: 600px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.left-column-area-content .ellipsis{
	display:block;
	white-space: nowrap;
	max-width: 40vw;
	overflow: hidden;
	text-overflow: ellipsis;
}

.left-column-area-metadata .ellipsis{
        display:block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
}

.post-container {
        background: var(--primary-light-color);
        padding: 5px 10px 5px 10px;
        margin:0px;
}

.post-list-container {
    background: var(--primary-light-color);
    padding: 5px 0px 5px 0px;
    margin:0px;
}

#text-search-group {
	top: -6px;
	width:219px;
}

#text-search-post {
	margin-top: 3px;
	width:328px;
}

input, select{
	padding:5px;
	border: var(--primary-color) solid thin;
}

button, input[type="button"], input[type="submit"] {
	background-color: #3D7AA6;
	color: #FFF;
	border: var(--primary-color) solid thin;
	padding:5px 10px 5px 10px;
}


textarea { 
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box;   
	box-sizing: border-box;        
	width: 100%;
	max-width: 100%;
	height:50px;
}

#left-column-area-wrapper ul {
    list-style-type: none;
    padding-left: 0px;
    margin-left: 0px;
}

.strong-gray{
	color: #737373;
	font-weight: bold;
}


.gray{
	color: #737373;
}

.strong{
	font-weight: bold;
}

.unread{
	background-color: var(--primary-light-color);
    color: #3D7AA6;
	text-align:center;
	width: 20px;
	display: inline-block;
}
.default-text-active { 
	color: #000000; 
	font-style: italic;
}

.comment{
	background: var(--primary-light-color);
	padding: 20px;
	margin-top:10px;
	margin-bottom:10px;
}

.reply{
        margin-top:10px;
        margin-bottom:10px;
}
	
#groups-table .row-item {
	cursor: pointer;
}

#left-column-area-wrapper li {
	margin-left: 10px;
	margin-right: 10px;
}

.label {
	padding-left: 5px;
	padding-right: 5px;
	margin-left: 5px;
	margin-right: 5px;
	float: right;
}

.admin {
	background-color: pink;
}

.mod {
	background-color: green;
}

.member {
	background-color: blue;
}

.blurb {
	min-height: 15px;
}

.italic-small {
	font-style: italic;
	font-size: 13px;
	display: block;
	margin-left: 35px;
	margin-right: 35px;
}

.italic-med {
	font-style: italic;
	font-size: 15px;
}


#posts-table, #groups-table{
	position:absolute;
	bottom:0px;
	overflow: auto;
}

#posts-table {
	top: 77px;
}

#groups-table {
	top: 48px;
}

#post-list-table, #group-list-table {
	list-style-type: none;
	padding: 0px;
	width: 100%;
}

#post-list-table .row-item, #group-list-table .row-item {
	display: inline-block;
	background: white;
	padding: 15px;
	vertical-align: middle;
	border-bottom: 1px solid #ccc;
	cursor: default;
	width: 100%;
}

#post-list-table .row-item:hover, #group-list-table .row-item:hover {
	cursor: hand;
	cursor: pointer;
	background: #FFF7CE!important;
}

#post-list-table .row-item.selected, #group-list-table .row-item.selected {
	background: #FFF7CE!important;
}

#post-list-table a, #group-list-table a {
	text-decoration: none;
	color: #000000;
}

#btn-create-new-post {
	width: 200px;
}

.table {
	width: 100%;
}

.table .row-item {
	background: white;
	padding: 15px;
        border-bottom: #ccc solid 1px;
        vertical-align: middle;
	border-bottom: 1px solid #ccc;
	cursor: default;
}

.table .row-item.selected {
	background: #FFF7CE!important;
}

.main-area-content {
	padding-right: 20px;
	padding-top: 20px;
	padding-left: 20px;
	padding-bottom: 20px;
	margin-bottom: 10px;
	margin-top: 0px;
	background-color: #FFF;
	box-shadow: 1px 0px 3px #666;
}

#members-table {
	background: var(--primary-light-color);
}


#highlight_post {
	background-color: #FFF7CE;
}

blockquote {
	font-size: 12px;
}

.add-padding {
	padding-left: 10px;
	padding-right: 10px;
}

/* #image-attrib {
	position: relative;
  	bottom: 0;
	right: 0;
} */

.paginate_disabled_previous, .paginate_disabled_next {
	display: none;
}

.paginate_enabled_next {
	margin-left: 10px;
}

.paginate_enabled_previous, .paginate_enabled_next {
	cursor: pointer;
}

.verified {
	color: green;
}

.not-verified {
	color: red;
}

#tag-input-list {
	display: inline-flex;
	box-sizing: content-box;
	min-height: 2.3em;
	background-color: #fff;
	border: 1px solid var(--primary-color);
	flex-flow: row wrap;
	list-style-type: none;
	padding: 0;
	cursor: text;
}

#tag-input-list:focus-within {
	outline: 1px ridge var(--primary-color);
}

.tag-input-container {
	/*the container must be positioned relative:*/
	position: relative;
	display: inline-block;
	flex-grow: 1;
}

.tag-input {
	width: 100%;
	height: 100%;
	border: none;
}

.tag-input:focus {
	outline: none;
}

.tag-items {
	position: absolute;
	z-index: 99;
	top: 100%;
	left: 0;
	right: 0;
	list-style-type: none;
	padding: 0;
	border: 1px solid #d4d4d4;
}
  
.tag-items .tag-item {
	display: inline-block;
	padding: 10px;
	cursor: pointer;
	background-color: #fff;
	border-bottom: 1px solid #d4d4d4;
	min-width: 100%;
	width: auto;
}

.tag-items .tag-item:hover {
	/*when hovering an titem:*/
	background-color: #e9e9e9;
}

#autocomplete-active {
	/*when navigating through the items using the arrow keys:*/
	background-color: #DDDDDD;
}

.tag-focus {
	outline: 4px solid var(--primary-color);
}

.tag-subject-container {
	display: inline-flex;
	flex-flow: row wrap;
	width: 100%;
}

.post-tag-container {
	display: flex;
	max-width: 40%;
	flex-flow: column wrap;
}

.tag-label-input {
	display: inline-block;
	padding: .2em .6em .2em;
	font-weight: 700;
	color: #fff;
	text-align: center;
	white-space: nowrap;
	border-radius: .25em;
	margin: 0.2em;
	flex-basis: content;
}

.tag-label-autocomplete {
	display: inline-block;
	padding: .2em .6em .3em;
	font-weight: 700;
	color: #fff;
	text-align: center;
	white-space: nowrap;
	border-radius: .25em;
	margin-right: 0.2em;
}

.tag-delete-btn {
	cursor: pointer;
	color:white; 
}

.tag-delete-btn:hover {
	cursor: pointer;
	color:red; 
}

.subject-container {
	display: flex;
	flex-flow: column wrap;
	flex-grow: 1;
}

.subject-input {
	border: 1px solid var(--primary-color);
	height: 2.4em;
	padding-top: 0.2em;
	line-height: 1.5em;
	resize: none;
}

.subject-input:focus-within {
	outline: 1px ridge var(--primary-color);
}

.tag {
	display: inline-block;
	padding: .2em .6em .3em;
	font-weight: bolder;
	color: #fff;
	text-align: center;
	white-space: nowrap;
	border-radius: .25em;
	margin-right: 0.2em;
	cursor: pointer;
}

.inactive {
	opacity: 25%;
}

.my_row {
	cursor: pointer;
}

/* 768px breakpoint to have tag and subject inputs side by in iPad screen but not break in screen widths smaller than this */
@media only screen and (max-width: 768px) { 
	.tag-subject-container {
		display: flex;
		flex-flow: column wrap;
	}
	#links {
		display: flex;
		flex-direction: column;
	}
}
