{% extends "group_container_base.html" %}

{% block container-content %}
	
	<h3>Invite new moderators to <span id="group-name">{{ group_info.name }}</span></h3>
	<hr />
	
	<form id="new-members-form">
		<span class="strong">Moderators</span> will review emails before you see them. If they don't have Squadbox accounts, we will create them. <br><br>Enter email addresses, separated by commas: <br>
		<input id="new-member-emails" type="text" style="width: 100%; box-sizing: border-box;"></input>
		<br><br>
		<button type="button" id="btn-add-members" style="margin-top:10px;">Invite</button>
	</form>
	<br>
	
	<a href="/groups/{{group_info.name}}">Back to squad info page</a>
{% endblock %}

{% block customjs %}
	<script type="text/javascript" src="/static/javascript/notify.js"></script>
	<script type="text/javascript" src="/static/javascript/add_members.js"></script>
{% endblock %}