{% extends "add_members_base.html" %}

{% block container-content %}
	
	<h3>Add New Members to <span id="group-name">{{ group_info.name }}</span></h3>
	<hr />
	
	<form id="new-members-form">
		<span class="strong">Moderators</span>: Will review moderated emails before you see them. Enter moderator email addresses, separated by commas:<br />
		<input id="new-member-emails" type="text" style="width: 100%; box-sizing: border-box;"></input>
		<br /> <br />
		<button type="button" id="btn-add-members" style="margin-top:10px;">Add Members</button>
	</form>
	<br /><br />
	
	<a href="/groups/{{group_info.name}}">Squad Info Page</a>
{% endblock %}

{% block customjs %}
	<script type="text/javascript" src="/static/javascript/squadbox/add_members.js"></script>
{% endblock %}
