{% extends "group_container_base.html" %}

{% block container-content %}
<h3><b>Pending Emails</b></h3>
<div id="post-column-area-wrapper">
	<div id="post-column-area">
		<div class="post-list-container">
			{% if groups|length == 0 %}
				You are not in any squads yet. <a href="/create_new_group">Create a new squad.</a>
			{% elif mod_group_count == 0 %}
				You aren't a moderator for any squads yet.
			{% elif pending_posts|length == 0 %}
				There are no pending emails in any squads you moderate.
			{% else %}
				<i>Click on an email to view its full text, and approve or reject it.</i><BR><BR>
			{% endif %}

			<ul id="post-list-table">
				{% for post in pending_posts %}
				<a href="/thread?group_name={{ post.to }}&tid={{ post.thread_id }}&post_id={{post.id}}">
					<li class="row-item" id="{{ post.thread_id }}">
						<div class="left-column-area-metadata">
							<span class="gray">{{ post.timestamp|date:"n/j/Y" }}</span>
							<span class="gray">{{ post.timestamp|date:"h:i A" }}</span>
						</div>
						<div class="middle-column-area-content">
							<span class="strong">{{ post.subject }}</span>
							<br />
							<span class="strong-gray">{{ post.from }}</span><br />
							<span class="blurb ellipsis">{{ post.text }}
							</span>
						</div>
					</li>
				</a>
			{% endfor %}
			</ul>
		</div>
	</div>
</div>
{% endblock %}

{% block customjs %}
<!-- <script src="/static/javascript/pagination.js"></script> -->
{% endblock %}