{% extends "squadbox/base.html" %}
{% block customcss %}
	<link href="/static/css/third-party/datatable.css" rel="stylesheet">
{% endblock %}
{% block content %}
<span id='mod-can-edit' style='display:none'>{{ group_info.group.mod_edit_wl_bl }}</span>
<div class="container">
	<div class="group-container">
		
		{% if group_info.admin %}
			<span class="admin label">owner</span>
		{% elif group_info.moderator %}
			<span class="mod label">mod</span>
		{% endif %}
		
		<h3><span id="group-name">{{ group_info.group.name }}</span></h3>
		<a href="/mod_queue/{{group_info.group.name}}">view mod queue</a>
		{% if group_info.group.show_rejected_site %}
		<br>
		<a href="{{group_info.group.name}}/rejected">view rejected messages</a>
		{% endif %}
		<hr>

		{% if group_info.group.description == "" %}
			<span class="italic-med">No description</span>
		{% else %}
			<span class="italic-med">{{ group_info.group.description }}</span>
		{% endif %}
		
		{% if group_info.admin %}

			<br><br>
			{% if group_info.active %}
				<button id='activate-btn'>Deactivate</button> <span data-toggle="tooltip" title="When your squad is deactivated, emails will be automatically approved. You can reactivate your squad at any time.">&#9432;</span>
				<br><br>
				Your squad is currently <span class="strong">active</span>.
			{% else %}
				<button id='activate-btn'>Activate</button> <span data-toggle="tooltip" title="When your squad is active, emails that aren't from a whitelisted or blacklisted sender will go through moderation before they're sent to you.">&#9432;</span>
				<br><br>
				Your squad is currently <span class="strong">deactivated</span>.
			{% endif %}

			<br>
			{% if group_info.group.allow_attachments %}
				Attachments <span class="strong">are allowed</span>.
			{% else %}
				<span class="strong">No Attachments</span> are allowed.
			{% endif %}

			<br>

			{% if group_info.group.send_rejected_tagged %}
				Rejected messages <span class="strong">will</span> be sent to your inbox with a [rejected] tag.
			{% else %}
				Rejected messages <span class="strong">will not</span> be sent to your inbox.
			{% endif %}

			<br>

			{% if group_info.group.show_rejected_site %}
				Rejected messages <span class="strong">will</span> be stored and displayed to you on this site.
			{% else %}
				Rejected messages <span class="strong">will not</span> be stored or displayed on this site.
			{% endif %}
			<br><br>

		{% endif %}
		
		<div id="group-options">
			{% if group_info.subscribed %}
				{% if group_info.admin %}
					<button type="button" id="btn-edit-group-info">Edit settings</button>
				{% endif %}
				<br><br>
			{% else %}
				<button type="button" id="btn-edit-settings" style="display: none;"></button>
			{% endif %}
			
			{% if group_info.subscribed and not group_info.admin %}
				<button type="button" id="btn-unsubscribe-group">Leave squad</button>
			{% endif %}
		</div>
		
		<hr>
		<h3>Moderation Rules</h3>
		<a href="/groups/{{group_info.group.name}}/edit_group_info#mod-header">edit &raquo;</a><br><br>
		<p>{{ group_info.group.mod_rules }}</p>


		{% if group_info.admin %}
			<hr>
			<h3>Squad Moderators</h3>
			<button type="button" id="btn-add-members">Invite new moderators</button>
			<button type="button" id="btn-del-members">Remove selected</button>
			

			<table id="members-table" class="display" cellspacing="0" width="100%">
				<thead>
					<tr>
						<th>Select</th>
						<th>Email</th>
						<th>Joined</th>
					</tr>
				</thead>
				
				<tbody>
					{% for member in group_info.members %}
						{% if member.email != user.email %}
							<tr>
							<td><input class="checkbox checkbox-user" type="checkbox" id ={{ member.id }}></td>
							<td>{{ member.email }}</td>
							<td>{{ member.joined }}</td>
						{% endif %}
					{% endfor %}

					{% for member in group_info.members_pending %}
						<tr>
							<td></td>
							<td><i>{{ member.email }} (pending)</i></td>
							<td>{{ member.joined }}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
			<br>
					
			<hr>
			<h3>Whitelist</h3>
			<p>The whitelist is for trusted senders. Emails from them will be automatically approved.</p>
			<button type="button" id="btn-add-whitelist">Add more addresses</button>
			<button type="button" id="btn-del-whitelist">Remove selected</button>
			
			<table id="whitelist-table" class="display" cellspacing="0" width="100%">
				<thead>
					<tr>
						{% if group_info.admin %}
							<th>Select</th>
						{% endif %}
						<th>Email</th>
						<th>Added</th>
					</tr>
				</thead>
				
				<tbody>
					{% for w in group_info.whitelist %}
						<tr>
							{% if group_info.admin %}
								<td><input class="checkbox checkbox-whitelist" type="checkbox" id ={{ w.email }}></td>
							{% endif %}
							<td>{{ w.email }}</td>
							<td>{{ w.timestamp }}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
			<br><br>
			<a href='/gmail_setup?group={{group_info.group.name}}'>Setup automatic forwarding and import Gmail contacts to this squad's whitelist &raquo;</a>


			<hr>
			<h3>Blacklist</h3>
			<p>The blacklist is for known harassers. Emails from them will be automatically rejected.</p>
			<button type="button" id="btn-add-blacklist">Add more addresses</button>
			<button type="button" id="btn-del-blacklist">Remove selected</button>
			<table id="blacklist-table" class="display" cellspacing="0" width="100%">
				<thead>
					<tr>
						<th>Select</th>
						<th>Email</th>
						<th>Added</th>
					</tr>
				</thead>
						
				<tbody>
					{% for b in group_info.blacklist %}
						<tr>
							<td><input class="checkbox checkbox-blacklist" type="checkbox" id ={{ b.email }}></td>
							<td>{{ b.email }}</td>
							<td>{{ b.timestamp }}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
			<hr>
			<div style="text-align:center">
				<button type="button" class="btn btn-danger" id="btn-delete-group">Delete squad</button>
			</div>
		{% endif %}
	</div>
</div>
{% endblock %}
{% block customjs %}
	<script type="text/javascript" src="/static/javascript/notify.js"></script>
	<script type="text/javascript" src="/static/javascript/squadbox/group_page.js"></script>
{% endblock %}