{% load staticfiles %}

<!DOCTYPE HTML>
<html>
<head>
	<title>{% block title %}SQUADBOX{% endblock %}</title>
	<link href="/static/css/third-party/bootstrap.min.css" rel="stylesheet">
	<link href="/static/css/squadbox/base.css" rel="stylesheet">

	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
	
	<link href="https://fonts.googleapis.com/css?family=Quicksand:400|Raleway:300,600" rel="stylesheet">
	
	<link rel="apple-touch-icon" sizes="57x57" href="/static/images/squadbox/favicon/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="/static/images/squadbox/favicon/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/static/images/squadbox/favicon/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="/static/images/squadbox/favicon/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/static/images/squadbox/favicon/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="/static/images/squadbox/favicon/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="/static/images/squadbox/favicon/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="/static/images/squadbox/favicon/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="/static/images/squadbox/favicon/apple-icon-180x180.png">
	<link rel="icon" type="image/png" href="/static/images/squadbox/favicon/favicon-32x32.png" sizes="32x32">
	<link rel="icon" type="image/png" href="/static/images/squadbox/favicon/favicon-96x96.png" sizes="96x96">
	<link rel="icon" type="image/png" href="/static/images/squadbox/favicon/favicon-16x16.png" sizes="16x16">
	<link rel="icon" type="image/png" href="/static/images/squadbox/favicon/android-icon-192x192.png" sizes="192x192">
	
	<link rel="manifest" href="/static/images/favicon/squadbox/manifest.json">
	<link rel="shortcut icon" href="/static/images/squadbox/favicon/favicon.ico">
	
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="/static/images/squadbox/favicon/ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff">
	
	<meta name="apple-mobile-web-app-title" content="Murmur">
	<meta name="application-name" content="Murmur">
	<meta name="msapplication-config" content="/static/images/squadbox/favicon/browserconfig.xml">
	
	
</head>

<body>
	
<nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#details">How It Works</a></li>
			<li><a href="#mailinglist">Get Updates</a></li>
			<li><a href="#interview">Tell Us Your Story</a></li>
			<li><a href="#team">About Us</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

	
	<P></P><P></P>
	
<header>
	<hgroup>
		
		<h2>
			
			<img id="head_logo" src="/static/images/squadbox/squadbox_logo4.png">
  	
			<span id="logo">SQUADBOX</span>
		</h2>
		<h2 property="name">Fight back against harassment.</h2>
	</hgroup>

</header>

	<section>
		<P></P>
		<p>
			Put a squad of trusted friends, volunteers, or paid moderators between the world and your inbox. 
		</p><P>
			Messages only reach you if your squad approves it.
		</P><P>
			Together, the members of your squad can weather harassment so that you don't feel overwhelmed.
		</p>
	</section>
	
	<section id="details" style="background-color: #fdeacb">
		<P></P>
		<h1>How does it work?</h1>
		<P>
		You can use Squadbox in both of the following ways:
		</P>
		<P>
		<strong>A.</strong> 
		You are experiencing harassment on your current email account and want to get some of your emails moderated
		by your squad.
		We help you set up filters on your email so that suspicious emails get forwarded to members of your squad.
		They determine which emails are harassment and which can be forwarded back to your inbox.
		</P>
		<img class="diagram img-responsive" src="/static/images/squadbox/squadbox_diagram2.png"> 
		
		<P>
		<strong>B.</strong> 
		You need an email address to give out to strangers or post publicly, but want to avoid receiving harassing messages. 
		We give you a <strong>@squadbox</strong> account to use.
		Emails to that address get sent to members of your squad.
		They determine which emails are harassment and which can be forwarded to your inbox.
		</P>
		<img class="diagram img-responsive" src="/static/images/squadbox/squadbox_diagram1.png">
		
		
	
	</section>


	
		
	<section id="mailinglist">
		<P></P><P></P><P></P>
		<P><strong>Squadbox is coming soon!</strong> Sign up for our <a href="http://murmur.csail.mit.edu/groups/squadbox-discuss">mailing list</a> to get updates:</P>
		<P>
		      <input type="email" name="email" class="subscribe-input" placeholder="Email address">
		      <button type="submit" class="subscribe-submit">Subscribe</button>
		</P>
		<P></P>
	</section>


	<section id="interview" style="background-color: #fdeacb">
		<P></P><P></P><P></P>
		<P>
		Are you or have you been a target of harassing emails or messages? 
		We are conducting interviews and user studies of our system, and we would like to hear from you to learn about your
		experiences and to alpha-test our system. If you're willing to help us out, please send us an email at 
		<a href="mailto:squadbox@mit.edu">squadbox@mit.edu</a>. 
		Thank you!
		
		</P>
		<P></P>
	</section>
	
	<section id="team"  style="background-color: #b8e9fa; color: #ffffff;">
	
<P></P>

	<P><h1>Our Research Team</h1></P>
	
	<p>
		Squadbox is a research project built by the <a href="http://haystack.csail.mit.edu">Haystack Group</a> at MIT CSAIL.
	</p>

	<P>
		<div class="container">
    <div class="row row-centered">
        <div class="col-md-4">
					<img src="/static/images/squadbox/kaitlin.jpg" class="img-circle" width=150>
				<BR>
						<a href="https://twitter.com/k__mahar"><img src="/static/images/squadbox/twitter.png" width=40>@k__mahar</a>
				<BR>
						<a href="mailto:kmahar@mit.edu">
							kmahar@mit.edu
						</a>
					
			</div>

		<div class="col-md-4">
					<a href="http://people.csail.mit.edu/axz">
					<img src="/static/images/squadbox/pic2.jpg" class="img-circle" width=150>
					</a>
					<BR>
						<a href="https://twitter.com/amyxzh"><img src="/static/images/squadbox/twitter.png" width=40>@amyxzh</a>
					<BR>
						<a href="mailto:axz@mit.edu">
							axz@mit.edu
						</a>
					
			</div>
			
		<div class="col-md-4">
					<a href="http://people.csail.mit.edu/karger">
					<img src="/static/images/squadbox/karger.png" class="img-circle" width=150>
					</a>
					<BR>
						<a href="https://twitter.com/karger"><img src="/static/images/squadbox/twitter.png" width=40>@karger</a>
					<BR>
						<a href="mailto:karger@mit.edu">
							karger@mit.edu
						</a>
					
			</div>
			
			</div>
		</div>
		
		
		
	</P>
	
		<P>
		Questions? Contact us at <a href="mailto:squadbox@mit.edu">squadbox@mit.edu</a>.
	</P>
	
	
	</section>

     

  <!-- <div>
  	
  	<form method="POST" action="{% url "auth_login" %}">
		{% csrf_token %}
		<h3>Login</h3>
		{{ form.as_p }}
		<a href="{% url "auth_password_reset" %}">Forgot your password?</a>
		<br /><br />
		<input type="submit" class="btn btn-primary" value="Log In" />
	</form>
	<br />
	
   
   <p>
       <form method='post' action="{% url "registration_register" %}">
        	{% csrf_token %}
        	
		<h3>Register Account</h3>
		Create an account to join or start a group!<br />
		<br />
        {{ reg_form.as_p }}

        <input type="submit" class="btn btn-primary" value="Register!" />

        </form>
  </p>
  </div> -->
  

	<script type="text/javascript" src="/static/javascript/third-party/jquery.min.js"></script>	
	<script src="/static/javascript/third-party/bootstrap.min.js"></script>
	<script src="/static/javascript/squadbox/base.js"></script>
</body>
</html>

