{% extends "group_container_base.html" %}
{% block container-content %}
	<div id="post-column-area-wrapper">
	<div hidden id='group-name'>{{ group_name }}</div>
		<h3>Emails rejected from your squad {{ group_name }}</h3>
		<div id="post-column-area">
			<div class="post-list-container">
				{% if rejected_posts|length == 0 %}
					No posts have been rejected yet.
				{% else %}
				<div style='margin-bottom: 10px;'>
				<button type='button' id='delete-btn' class="btn-danger">Delete</button>
				</div>
				<ul id="post-list-table">
					{% for post in rejected_posts %}
						<a href="/rejected_thread?group_name={{ post.to }}&tid={{ post.thread_id }}&post_id={{post.id}}">
							<li class="row-item" id="{{ post.thread_id }}">
								<div class="container">
									<div class="row">
										<div class="col-md-2">
										<input type="checkbox" style='margin-right: 5px;' value='delete-{{post.thread_id}}-{{post.id}}'>
											<span class="strong">
												{% if post.from_name %}
													{{ post.from_name }}
												{% else %}
													{{ post.from }}
												{% endif %}
											</span>
										</div>
										<div class="col-md-4"><div class="truncate"><span class="strong">{{ post.subject }}</span></div></div>
										<div class="col-md-3"><div class="pull-right" style="padding-right: 20px;">{{ post.timestamp|date:"n/j/Y" }} at {{ post.timestamp|date:"h:i A" }}</div></div>
									</div>
								</div>
							</li>
						</a>
					{% endfor %}
				</ul>
			{% endif %}
			</div>
		</div>
	</div>
{% endblock %}
{% block customjs %}
<script type="text/javascript" src="/static/javascript/notify.js"></script>
<script type="text/javascript" src="/static/javascript/squadbox/rejected.js"></script>
{% endblock %}