{% extends "group_container_base.html" %}

{% block container-content %}

	<p hidden id="group-name">{{ group_info.name }}</p>   
	{% if group_info.friendly_name != '' %}
		<h3>Add email addresses to do-not-send for <span id="group-friendly-name">{{ group_info.friendly_name }}</span></h3>
	{% else %}
		<h3>Add email addresses to do-not-send for <span id="group-friendly-name">{{ group_info.name }}</span></h3>
	{% endif %}
	<hr>
	
	<form id="new-members-form">
		Your post won't be sent to members of this list.<br><br>Enter email addresses, separated by commas: <br>
		<input id="new-dissimulate-emails" type="text" style="width: 100%; box-sizing: border-box;"></input>
		<br><br>
		<div style="diplay:none;color:red;" id="donotsend-msg"></div>
		<button type="button" id="btn-add-dissimulate" style="margin-top:10px;">Add</button>
	</form>
	<br>
	
	<a href="/groups/{{group_info.name}}">Back to group info page</a>
{% endblock %}

{% block customjs %}
	<script type="text/javascript" src="/static/javascript/notify.js"></script>
	<script type="text/javascript" src="/static/javascript/add_donotsend.js"></script>
{% endblock %}
