{% extends "group_container_base.html" %}

{% block container-content %}
	<p hidden id="group-name">{{ group_info.name }}</p>
	<h3>Add New Members to 
		{% if group_info.friendly_name != '' %}
			<span id="group-friendly-name">{{ group_info.friendly_name }}</span>
		{% else %}
			<span id="group-friendly-name">{{ group_info.name }}</span>
		{% endif %}
	</h3>
	<hr />
	
	<form id="new-members-form">
		<span class="strong">Emails Separated by Separators (e.g. , ; | /) : </span> <br />
		<input id="new-member-emails" type="text" style="width: 100%; box-sizing: border-box;"></input>
		<br /> <br />
		<button type="button" id="btn-add-members" style="margin-top:10px;">Add Members</button>
	</form>
	
	<br /><br />
	
	<a href="/groups/{{group_info.name}}">Group Info Page</a>
{% endblock %}

{% block customjs %}
	<script type="text/javascript" src="/static/javascript/notify.js"></script>
	<script type="text/javascript" src="/static/javascript/add_members.js"></script>
{% endblock %}