{% extends "group_container_base.html" %}

{% block container-content %}
	
	<h3>Add email addresses to do-not-send for <span id="group-name">{{ group_info.name }}</span></h3>
	<hr>
	
	<form id="new-members-form">
		Your post won't be sent to dissimulated.<br><br>Enter email addresses, separated by commas: <br>
		<input id="new-dissimulate-emails" type="text" style="width: 100%; box-sizing: border-box;"></input>
		<br><br>
		<button type="button" id="btn-add-dissimulate" style="margin-top:10px;">Add</button>
	</form>
	<br>
	
	<a href="/groups/{{group_info.name}}">Back to group info page</a>
{% endblock %}

{% block customjs %}
	<script type="text/javascript" src="/static/javascript/notify.js"></script>
	<script type="text/javascript" src="/static/javascript/add_dissimulate.js"></script>
{% endblock %}