{% load staticfiles %}


<!DOCTYPE HTML>
<html>
<head>
	<title>{% block title %}Murmur{% endblock %}</title>
	<link href="/static/css/third-party/bootstrap.min.css" rel="stylesheet">
	<link href="/static/css/murmur/base.css" rel="stylesheet">
	{% block customcss %}
	{% endblock %}
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		
	<link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'> 
	
	<link rel="apple-touch-icon" sizes="57x57" href="/static/images/favicon/apple-touch-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="/static/images/favicon/apple-touch-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/static/images/favicon/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="/static/images/favicon/apple-touch-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/static/images/favicon/apple-touch-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="/static/images/favicon/apple-touch-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="/static/images/favicon/apple-touch-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="/static/images/favicon/apple-touch-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="/static/images/favicon/apple-touch-icon-180x180.png">
	<link rel="icon" type="image/png" href="/static/images/favicon/favicon-32x32.png" sizes="32x32">
	<link rel="icon" type="image/png" href="/static/images/favicon/favicon-194x194.png" sizes="194x194">
	<link rel="icon" type="image/png" href="/static/images/favicon/favicon-96x96.png" sizes="96x96">
	<link rel="icon" type="image/png" href="/static/images/favicon/android-chrome-192x192.png" sizes="192x192">
	<link rel="icon" type="image/png" href="/static/images/favicon/favicon-16x16.png" sizes="16x16">
	<link rel="manifest" href="/static/images/favicon/android-chrome-manifest.json">
	<link rel="shortcut icon" href="/static/images/favicon/favicon.ico">
	<meta name="apple-mobile-web-app-title" content="Murmur">
	<meta name="application-name" content="Murmur">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="msapplication-TileImage" content="/static/images/favicon/mstile-144x144.png">
	<meta name="msapplication-config" content="/static/images/favicon/browserconfig.xml">
	<meta name="theme-color" content="#ffffff">
	
</head>

<body>

	<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" role="navigation">
		<div class="container">
			<a class="navbar-brand" id="logo" href="/"><img class="icon" src="/static/images/favicon/favicon-194x194.png">Murmur</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			{% if user.is_authenticated %}
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="nav navbar-nav">

				{% if not group_page %}
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarGroupDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<span id="active_group">{{ active_group.name }}</span>
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarGroupDropdown">
							{% for group in groups %}
								<a class="dropdown-item" href="/posts?group_name={{ group.name }}">{{ group.name }}</a>
							{% endfor %}
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="/my_groups">Manage my groups</a>
							<a class="dropdown-item" href="/my_groups">Join/create new groups</a>
						</div>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/my_groups">My Groups</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/group_list">Explore Groups</a>
					</li>
				</ul>
				{% else %}
					<li class="nav-item dropdown">
						{% if groups %}
						<a class="nav-link dropdown-toggle" href="#" id="navbarNoGroupDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							View Posts
						</a>
						{% else %}
						<a class="nav-link dropdown-toggle" href="#" id="navbarNoGroupDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							No Groups Yet
						</a>
						{% endif %}
						<div class="dropdown-menu" aria-labelledby="navbarGroupDropdown">
							{% for group in groups %}
								{% if group.name == active_group %}
									<a class="dropdown-item" href="/posts?group_name={{ group.name }}"><span id="active_group">{{ group.name }}</span></a>
								{% else %}
									<a class="dropdown-item" href="/posts?group_name={{ group.name }}">{{ group.name }}</a>
								{% endif %}
							{% endfor %}
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="/my_groups">Manage my groups</a>
							<a class="dropdown-item" href="/my_groups">Join/create new groups</a>
						</div>
					</li>
					</li>
					{% if my_groups %}
						<li class="nav-item active">
							<a class="nav-link" href="/my_groups">My Groups</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/group_list">Explore Groups</a>
						</li>
					{% else %}
						<li class="nav-item">
							<a class="nav-link" href="/my_groups">My Groups</a>
						</li>
						<li class="nav-item active">
							<a class="nav-link" href="/group_list">Explore Groups</a>
						</li>
					{% endif %}
				</ul>
				{% endif %}
				<ul class="nav navbar-nav ml-auto">
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarUserDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							{{ user.email|truncatechars:24 }}
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarUserDropdown">
							<a class="dropdown-item" href="/settings">Settings</a>
							<a class="dropdown-item" href="/accounts/logout">Logout</a>
						</div>
					</li>
				</ul>
		</div>
			
			{% else %}
			<div id="navbarNav" class="collapse navbar-collapse">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item"> 
						<a class="nav-link" href="/accounts/login/">Login</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/accounts/register/">Register</a>
					</li>
				</ul>
			</div>
			{% endif %}
		</div>
	</nav>
	

	{% block content %}
	
	
	{% endblock %}

	<script type="text/javascript" src="/static/javascript/third-party/jquery.min.js"></script>	
	<script src="/static/javascript/third-party/bootstrap.min.js"></script>
	<script type="text/javascript" src="/static/javascript/third-party/csrf.min.js"></script>
	<script type="text/javascript" src="/static/javascript/third-party/tiny_mce/tiny_mce.js"></script>
	<script type="text/javascript" src="/static/javascript/third-party/noty/jquery.noty.js"></script>
	<script type="text/javascript" src="/static/javascript/third-party/noty/layouts/topRight.js"></script>
	<script type="text/javascript" src="/static/javascript/third-party/noty/themes/default.js"></script>
	<script type="text/javascript" src="/static/javascript/third-party/jquery.dataTables.min.js"></script>
	
	{% block customjs %}
	
	{% endblock %}
</body>
</html>