{% load staticfiles %}


<!DOCTYPE HTML>
<html>
<head>
	<title>{% block title %}Murmur{% endblock %}</title>
	<link href="/static/css/third-party/bootstrap.min.css" rel="stylesheet">
	<link href="/static/css/murmur/base.css" rel="stylesheet">
	{% block customcss %}
	{% endblock %}
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
	
	<link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'> 
	
	<link rel="apple-touch-icon" sizes="57x57" href="/static/images/favicon/apple-touch-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="/static/images/favicon/apple-touch-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/static/images/favicon/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="/static/images/favicon/apple-touch-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/static/images/favicon/apple-touch-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="/static/images/favicon/apple-touch-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="/static/images/favicon/apple-touch-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="/static/images/favicon/apple-touch-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="/static/images/favicon/apple-touch-icon-180x180.png">
	<link rel="icon" type="image/png" href="/static/images/favicon/favicon-32x32.png" sizes="32x32">
	<link rel="icon" type="image/png" href="/static/images/favicon/favicon-194x194.png" sizes="194x194">
	<link rel="icon" type="image/png" href="/static/images/favicon/favicon-96x96.png" sizes="96x96">
	<link rel="icon" type="image/png" href="/static/images/favicon/android-chrome-192x192.png" sizes="192x192">
	<link rel="icon" type="image/png" href="/static/images/favicon/favicon-16x16.png" sizes="16x16">
	<link rel="manifest" href="/static/images/favicon/android-chrome-manifest.json">
	<link rel="shortcut icon" href="/static/images/favicon/favicon.ico">
	<meta name="apple-mobile-web-app-title" content="Murmur">
	<meta name="application-name" content="Murmur">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="msapplication-TileImage" content="/static/images/favicon/mstile-144x144.png">
	<meta name="msapplication-config" content="/static/images/favicon/browserconfig.xml">
	<meta name="theme-color" content="#ffffff">
	
</head>

<body>
	
<div id="murmur-header" class="navbar navbar-default navbar-fixed-top navlook" role="navigation">
      <div class="container">
        <div class="navbar-header">
        	<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" id="logo" href="/"><img class="icon" src="/static/images/favicon/favicon-194x194.png">Murmur</a>
				</div>
				
				<div class="navbar-collapse collapse">
						<ul class="nav navbar-nav navbar-right">
								{% if user.is_authenticated %}
									<li class="dropdown dropdown-right">
										<p id="user-full-email" style="display:none;">{{ user.email }}</p>
										<a href="#" class="dropdown-toggle" data-toggle="dropdown"><span id="user_email">{{ user.email|truncatechars:24 }}</span><span class="caret"></span></a>
										<ul class="dropdown-menu" role="menu">
											<li><a href="/settings">Settings</a></li>
											<li><a href="/accounts/logout">Logout</a></li>
										</ul>
									</li>
								{% else %}
									<li><a href="/accounts/login/?next=/login_email">Login</a></li>
									<li><a href="/accounts/register/">Register</a></li>
								{% endif %}
						</ul>
				</div>

      </div>
    </div>
	

	{% block content %}
	
	
	{% endblock %}

	<script type="text/javascript" src="/static/javascript/third-party/jquery.min.js"></script>	
	<script src="/static/javascript/third-party/bootstrap.min.js"></script>
	<script type="text/javascript" src="/static/javascript/third-party/csrf.min.js"></script>
	<!-- <script type="text/javascript" src="/static/javascript/third-party/tiny_mce/tiny_mce.js"></script> -->
	<script type="text/javascript" src="/static/javascript/third-party/noty/jquery.noty.js"></script>
	<script type="text/javascript" src="/static/javascript/third-party/noty/layouts/topRight.js"></script>
	<script type="text/javascript" src="/static/javascript/third-party/noty/themes/default.js"></script>
	<script type="text/javascript" src="/static/javascript/third-party/jquery.dataTables.min.js"></script>
	
	{% block customjs %}
	
	{% endblock %}
</body>
</html>