{% extends "murmur/base.html" %}

{% block customcss %}
{% endblock %}

{% block content %}

<div class="container">
  <div class="group-container">
		{% if group_info.friendly_name != '' %}   
			<h3>Send Post to <span id="group-name">{{ group_info.friendly_name }}</span></h3><hr />
		{% else %}
			<h3>Send Post to <span id="group-name">{{ group_info.name }}</span></h3><hr />
		{% endif %}
   		<span class="strong">
   			To : 
   		</span>
		<a href="mailto:{{admin_address}}" target="_newtab">{{admin_address}}</a>
   		<br>
   		<span class="strong">
   			Subject : 
   		</span>
   		<br>
		<input id="new-post-subject" type="text" style="width: 100%; box-sizing: border-box;"></input> <br /> <br />
		<textarea id="new-post-text" style="height:150px;"></textarea>
		
   		<button type="button" id="btn-post" style="margin-top:10px;">Post</button>
   		<a href="/post_list?group_name={{ group_info.name }}"><button type="button" style="margin-top:10px;">Cancel</button></a>
   
  </div>
</div>

{% endblock %}

{% block customjs %}
	<script type="text/javascript" src="/static/javascript/third-party/jquery-ui.min.js"></script>
	<script type="text/javascript" src="/static/javascript/third-party/ckeditor/ckeditor.js"></script>
	<script type="text/javascript" src="/static/javascript/murmur/create_post.js"></script>
{% endblock %}
