{% extends "murmur/base.html" %}

{% block customcss %}
<link href="/static/DataTables/datatables.min.css" rel="stylesheet">
{% endblock %}

{% block content %}

<div id="demo-desc" class="mt-5 px-4 pt-5">
    <h1 class="title mx-5">Tag Subscription Feature</h1>
    <p class="mx-5 mb-0">
        Murmur gives users the ability to receive their desired content in their inbox through the tag subscription settings in every mailing list.
        The demo showcs an example of tags in a group (e.g. EECS mailing list) which can be configured in the settings as seen on the left. These 
        personal tag preferences result in the filtering of emails that enter your inbox as seen on the right.
    </p>
</div>
<div id="container-demo" class="d-flex">
    <div class="demo-settings m-5 p-4">
        <h4>Tag Settings</h4>
        <label class="d-block" for="block-mode">
            <input class="mr-1" type="radio" id="block-mode" name="tag-mode" value="block-mode" checked>
            Send me all emails except the following blocked tags
        </label>
        <label class="d-block mb-3" for="subscribe-mode">
            <input class="mr-1" type="radio" id="subscribe-mode" name="tag-mode" value="subscribe-mode">
            Send me no emails except the following subscribed tags
        </label>
        <table id="tag-demo-table" class="display" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>Select</th>
                    <th>Tag</th>
                    <th>Description</th>
                    <th>Num Posts</th>
                </tr>
            </thead>
            <tbody>
                <!-- Select, Tag, Description, Number of Posts -->
                <tr class="my_row">
                    <td align="center"><img src="/static/css/third-party/images/block.svg" class="inactive" data-type="tag-select" id="tag_1"></td>
                    <td><label class="tag" id="tag_{{ forloop.counter0 }}" style="background-color: skyblue">Courses</label></td>
                    <td>New course annoucements and logistics related to EECS courses</td>
                    <td><span>1 post(s)</span></td>
                </tr>
                <tr class="my_row">
                    <td align="center"><img src="/static/css/third-party/images/block.svg" class="inactive" data-type="tag-select" id="tag_2"></td>
                    <td><label class="tag" id="tag_{{ forloop.counter0 }}" style="background-color: darkcyan">Jobs</label></td>
                    <td>Any job related content such as internships, info sessions, career fair, etc.</td>
                    <td><span>2 post(s)</span></td>
                </tr>
                <tr class="my_row">
                    <td align="center"><img src="/static/css/third-party/images/block.svg" class="inactive" data-type="tag-select" id="tag_3"></td>
                    <td><label class="tag" id="tag_{{ forloop.counter0 }}" style="background-color: peru">UROPs</label></td>
                    <td>UROP open positions announcements</td>
                    <td><span>1 post(s)</span></td>
                </tr>
                <tr class="my_row">
                    <td align="center"><img src="/static/css/third-party/images/block.svg" class="inactive" data-type="tag-select" id="tag_4"></td>
                    <td><label class="tag" id="tag_{{ forloop.counter0 }}" style="background-color: lightcoral">Talks</label></td>
                    <td>Talks by professors, guests speakers, companies, etc.</td>
                    <td><span>1 post(s)</span></td>
                </tr>					
            </tbody>
        </table>	
    </div>
    <ul class="demo-emails m-5">
        <h1 class="title">Inbox</h1>
        <li class="sample-email p-3 mb-2">
            <span class="label2 mr-1" style="background-color: skyblue;">Courses</span>
            <span id="demo-subject">MAS.S65 Next generation devices for Nanoelectronics and Biotechnology</span>
        </li>
        <li class="sample-email p-3 mb-2">
            <span class="label2 mr-1" style="background-color: lightcoral;">Talks</span>
            <span class="label2 mr-1" style="background-color: darkcyan;">Jobs</span>
            <span id="demo-subject">Tech Talk - Accessibility in Gaming hosted by Activison</span>
        </li>
        <li class="sample-email p-3 mb-2">
            <p id="demo-subject">Participate in a Drinking Water Study & Win a Reusable Water Bottle</p>
        </li>
        <li class="sample-email p-3 mb-2">
            <span class="label2 mr-1" style="background-color: peru;">UROPs</span>
            <span id="demo-subject">MIT Media Lab, Remote Fall UROP Opportunities in Lifelong Kindergarten Group</span>
        </li>
        <li class="sample-email p-3">
            <span class="label2 mr-1" style="background-color: darkcyan;">Jobs</span>
            <span id="demo-subject">Google Privacy Engineer Internship Opportunity</span>
        </li>
    </ul>
</div>

{% endblock %}

{% block customjs %}
    <script type="text/javascript" src="/static/javascript/murmur/demo.js"></script>   
{% endblock %}