{% extends "murmur/base.html" %}

{% block customcss %}
<link href="/static/DataTables/datatables.min.css" rel="stylesheet">
{% endblock %}

{% block content %}

<div class="container">
  <div class="group-container">
	
	<h3>Edit My Settings for <span id="group-name">{{ group_info.name }}</span></h3>
    <form id="group-settings-form" class="mt-4 mb-4">
		<article id="email-delivery-area">
			<h4>Email Delivery</h4>
			<hr />
			<label for="all-emails">
				{% if settings.all_emails %}
					<input class="" type="radio" id="all-emails" name="email-delivery" value="all-emails" checked>
				{% else %}
					<input class="" type="radio" id="all-emails" name="email-delivery" value="all-emails">
				{% endif %}
				All emails
			</label>
			<img src="/static/css/third-party/images/info.svg" class="mr-5" 
				alt="You will be emailed all emails on this list unless you mute a thread" 
				width="16" height="16" title="You will be emailed all emails on this list unless you mute a thread">
			<label for="first-emails">
				{% if not settings.all_emails and not settings.digest and not settings.no_emails %}
					<input class="" type="radio" id="first-emails" name="email-delivery" value="first-emails" checked>
				{% else %}
					<input class="" type="radio" id="first-emails" name="email-delivery" value="first-emails">
				{% endif %}
				First emails
			</label>
			<img src="/static/css/third-party/images/info.svg" class="mr-5" 
				alt="You will only be emailed replies in a thread if you explicitly follow the thread. You also automatically follow a thread if you start the thread or contribute a post at any point in the thread" 
				width="16" height="16" title="You will only be emailed replies in a thread if you explicitly follow the thread. You also automatically follow a thread if you start the thread or contribute a post at any point in the thread">
			<label class="mr-5" for="digest-emails">
				{% if settings.digest %}
					<input class="mr-1" type="radio" id="digest-emails" name="email-delivery" value="digest-emails" checked>
				{% else %}
					<input class="mr-1" type="radio" id="digest-emails" name="email-delivery" value="digest-emails">
				{% endif %}
				Digest emails
			</label>
			<label for="no-emails">
				{% if settings.no_emails %}
					<input class="" type="radio" id="no-emails" name="email-delivery" value="no-emails" checked>
				{% else %}
					<input class="" type="radio" id="no-emails" name="email-delivery" value="no-emails">
				{% endif %}
				No emails
			</label>
			<img src="/static/css/third-party/images/info.svg" class="mr-5" 
				alt="You will receive no emails, except for the threads you follow. You also automatically follow any threads that you start or post to" 
				width="16" height="16" title="You will receive no emails, except for the threads you follow. You also automatically follow any threads that you start or post to">
	
			<label class="d-block mt-2" for="receive-attachments">
			{% if settings.receive_attachments %}
				<input type="checkbox" name="receive-attachments" value="yes" id="receive-attachments" checked>
			{% else %}
				<input type="checkbox" name="receive-attachments" value="no" id="receive-attachments">
			{% endif %}
				Receive attachments with emails	
			</label>
		</article>
		<article id="notifications-area">
			<h5 class="mt-4 mb-3">Notifications: </h5>
			<label class="mr-3" for="up-vote">
				{% if settings.upvote_emails %}
					<input type="checkbox" name="notifications" value="upvote-emails" id="upvote-emails" checked>
				{% else %}
					<input type="checkbox" name="notifications" value="upvote-emails" id="upvote-emails">
				{% endif %}	
				Upvote emails
			</label>
			<label class="mr-3" for="group-invites">
				{% if settings.group_invite_emails %}
					<input type="checkbox" name="notifications" value="group-invite-emails" id="group-invite-emails" checked>
				{% else %}
					<input type="checkbox" name="notifications" value="group-invite-emails" id="group-invite-emails">
				{% endif %}	
				Group invites
			</label>
			<label class="mr-3" for="admin-emails">
				{% if settings.admin_emails %}
					<input type="checkbox" name="notifications" value="admin-emails" id="admin-emails" checked>
				{% else %}
					<input type="checkbox" name="notifications" value="admin-emails" id="admin-emails">
				{% endif %}	
				Admin emails
			</label>
			<label class="mr-3" for="mod-emails">
				{% if settings.mod_emails %}
					<input type="checkbox" name="notifications" value="mod-emails" id="mod-emails" checked>
				{% else %}
					<input type="checkbox" name="notifications" value="mod-emails" id="mod-emails">
				{% endif %}	
				Mod emails
			</label>
		</article>
		<article id="tag-subscription-area" class="mt-4">
			<h4>Tag Subscription</h4>
			<hr />
			{% if settings.tag_blocking_mode %}
				<label class="d-block" for="block-mode">
					<input class="mr-1" type="radio" id="block-mode" name="tag-mode" value="block-mode" checked>
					Send me all emails except the following blocked tags
				</label>
				<label class="d-block mb-3" for="subscribe-mode">
					<input class="mr-1" type="radio" id="subscribe-mode" name="tag-mode" value="subscribe-mode">
					Send me no emails except the following subscribed tags
				</label>
			{% else %}
				<label class="d-block" for="block-mode">
					<input class="mr-1" type="radio" id="block-mode" name="tag-mode" value="block-mode">
					Send me all emails except the following blocked tags
				</label>
				<label class="d-block mb-3" for="subscribe-mode">
					<input class="mr-1" type="radio" id="subscribe-mode" name="tag-mode" value="subscribe-mode" checked>
					Send me no emails except the following subscribed tags
				</label>
			{% endif %}
			<table id="tag-subscription-table" class="display" cellspacing="0" width="100%">
				<thead>
					<tr>
						<th>Select</th>
						<th>Tag</th>
						<th>Description</th>
						<th>Num Posts</th>
					</tr>
				</thead>
				<tbody>
					{% if tag_info %}
						{% for tag in tag_info %}
							<tr class="my_row">
								<!-- Select, Tag, Description, Number of Posts -->
								{% if settings.tag_blocking_mode %}
									<td align="center"><img src="/static/css/third-party/images/block.svg" class="inactive" data-type="tag-select" id ={{ tag.id }}></td>
								{% else %}
									<td align="center"><img src="/static/css/third-party/images/check.svg" class="inactive" data-type="tag-select" id ={{ tag.id }}></td>
								{% endif %}
								<td><label class="tag" id="tag_{{ forloop.counter0 }}" style="background-color: #{{ tag.color }}">{{ tag.name }}</label></td>
								<td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sed nulla et nulla fermentum molestie.</td>
								<td><span>{{ tag.num_p }} post(s)</span></td>
							</tr>
						{% endfor %}
					{% else %}
							<tr></tr>
					{% endif %}							
				</tbody>
			</table>	
		</article>
		<article id='donotsent-list-area' class="mt-4">
			<h3>My do-not-send list of this group</h3> 
			<hr />
			<span>When you post at this group, your post won't be sent to this list</span>
			<br/>
			<button type="button" id="btn-add-dissimulate">Add Members</button>
			<button type="button" id="btn-delete-dissimulate" class="mb-3">Delete Members</button>
			<table id="donotsend-members-table" class="display" cellspacing="0" width="100%">
				<thead>
					<tr>
						<th>Select</th>
						<th>Email</th>
					</tr>
				</thead>
				<tbody>
					{% for d in donotsend_info %}
						{% if d.donotsend_user.email == user.email %}
							<tr class="my_row">
						{% else %}
							<tr>
						{% endif %}							
							<td><input class="checkbox checkbox-user" type="checkbox" id ={{ d.donotsend_user.id }}></td>
							<td>{{ d.donotsend_user.email }}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>	
		</article>

		<button type="button" id="btn-save-settings" style="margin-top:10px;">Save Settings</button>
		<button type="button" id="btn-cancel-settings" style="margin-top:10px;">Cancel</button>
	</form>  
	<a href="/groups/{{group_info.name}}">Group Info Page</a>
  </div>
</div>

{% endblock %}

{% block customjs %}
	<script type="text/javascript">
		tag_subscription = {{ tag_subscription|safe }};
	</script>
	<script type="text/javascript" src="/static/javascript/murmur/my_group_settings.js"></script>
{% endblock %}




