{% extends "murmur/base.html" %}

	{% block customcss %}
	<style>
		body { 
			background: url(/static/images/murmurations/4227243_a0587ccefe_o.jpg) no-repeat center center fixed; 
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
			background-size: cover;
		}
		</style>
	{% endblock %}

{% block content %}

{% if flavour != "mobile" %}
<div class="container-home">
{% else %}
<div class="container">
{% endif %}

{% if flavour != "mobile" %}
  <div class="home-left">
  	{% else %}
  	<div class="home-left-mobile">
  	{% endif %}
  	
     <h3>Welcome to Murmur.</h3>
     
     <h5>We're re-imagining mailing lists and community discourse for the age of social media.</h5>

     Though mailing list software has changed little in the past 40 years, social media and other community sites have changed drastically.
     <br />
     <br />
     Murmur introduces new features to the mailing list so that you can communicate with your
     group in the way that you desire, through email or the web. 
     <br />
     <br />
     And as a community, members can collectively organize and moderate the discussion to satisfy the 
     varied needs and concerns of their cohorts.
     
     <br />
     <br />
     <a href="/about">Learn More</a>
     
     <br />
     <br />
     <a href="/groups/murmur-discuss">Join our Murmur list to keep informed about Murmur</a>
     
     <br />
     <br />
     <a href="/group_list">Explore All Public Groups</a>

  </div>
{% if flavour != "mobile" %}
  <div class="home-right">
  	{% else %}
  	<div class="home-right-mobile">
  	{% endif %}
  	
  	<form method="POST" action="{% url "auth_login" %}">
		{% csrf_token %}
		<h3>Login</h3>
		{{ form.as_p }}
		<a href="{% url "auth_password_reset" %}">Forgot your password?</a>
		<br /><br />
		<input type="submit" class="btn btn-primary" value="Log In" />
	</form>
	<br />
	
   
   <p>
       <form method='post' action="{% url "registration_register" %}">
        	{% csrf_token %}
        	
		<h3>Register Account</h3>
		Create an account to join or start a group!<br />
		<br />
        {{ reg_form.as_p }}

        <input type="submit" class="btn btn-primary" value="Register!" />

        </form>
  </p>
  </div>
  

</div>

  
 <div id="image-attrib">

 </div>
	


{% endblock %}

{% block customjs %}

<script type="text/javascript" src="/static/javascript/home.js"></script>

{% endblock %}