{% extends "murmur/base.html" %}

   {% block customcss %}
   <link href="/static/DataTables/datatables.min.css" rel="stylesheet">
	<style>
		body { 
			background: url(/static/images/murmurations/4227243_a0587ccefe_o.jpg) no-repeat center center fixed; 
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
			background-size: cover;
		}
		</style>
	{% endblock %}

{% block content %}

<div id="container-home" class="d-flex flex-column mt-5">
   <div id="intro" class="mx-5 mt-5 mb-3">
     <h1 id="welcome" class="title">Welcome to Murmur</h1>
     <h4 id="mission">We're re-imagining mailing lists and community discourse for the age of social media.</h4>
   </div>
   <div id="description" class="mx-5 mb-3">
      <p>Though mailing list software has changed little in the past 40 years, social media and other community sites have changed drastically.</p>
      <p>Murmur introduces new features to the mailing list so that you can communicate with your group in the way that you desire, through email or the web.</p>
      <p>And as a community, members can collectively organize and moderate the discussion to satisfy the varied needs and concerns of their cohorts.</p> 
   </div>
   <div id="links" class="font-weight-bold mx-5 mb-5">
      <a href="/about" class="mr-3">Learn More</a>
      <a href="/groups/murmur-discuss" class="mr-3">Join our Murmur list</a>
      <a href="/group_list">Explore All Public Groups</a>
   </div>
</div>
{% include "./modules/demo.html" %}    

<div id="image-attrib"></div>


{% endblock %}

{% block customjs %}

<script type="text/javascript" src="/static/javascript/murmur/home.js"></script>

{% endblock %}