{% extends "murmur/base.html" %}

{% block customcss %}
	<link href="/static/css/third-party/datatable.css" rel="stylesheet">
{% endblock %}

{% block content %}

<div class="container">
  <div class="group-container">
  	
  	<a href="/create_new_group"><button type="button">Create New Group</button></a>
  	<br />
  	
     <h3>Explore Public Groups</h3>
		<hr />
		<head>
			<script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
		
			{# datatables.js #}
			<script type="text/javascript" charset="utf8"
					src="http://cdn.datatables.net/1.10.10/js/jquery.dataTables.min.js"></script>
			<link rel="stylesheet" type="text/css" href="http://cdn.datatables.net/1.10.10/css/jquery.dataTables.css">
		
			{# Bootstrap #}
			<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet"/>
			<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
			<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
			<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
		
		
			{# test_project helpers #}
			<style type="text/css">
				.nav.sidebar a {
					border-right: 1px solid white;
					padding: 5px 10px;
				}
		
				.nav.sidebar a.active {
					font-weight: bold;
					background-color: #f0f0f0;
					border-color: #428bca;
				}
		
				.nav.sidebar li.divider {
					margin: 0.5em;
					border-top: 1px solid #dfdfdf;
				}
			</style>
		
		</head>
		<body>
		<script type="text/javascript" charset="utf8">
		
			$(document).ready(function () {
				$('#members-table').DataTable({
					"processing": true,
					"serverSide": true,
					'bDestroy': true,
					"ajax": {
						url: "list_groups/ajax/",
						"data": function (d) {console.log(json)
							return json.aaData},
						dataSrc: function (json) {
							console.log(json)
							return json.aaData
						}
					}
				})
			})
		</script>
		
		<div style="float:right">
		
		
		</div>
		<hr style="width:100%">
		<div>

		<div>
			<table id="members-table" class="display" cellspacing="0" width="100%">
				<thead>
					<tr>
						<th>Group Name</th>
						<th>Description</th>
						<th>Admin</th>
						<th>Moderator</th>
						<th>Member</th>
						<th>Created</th>
						<th>Num Members</th>
					</tr>
				</thead>
				
				<tfoot>
					<tr>
						<th>Group Name</th>
						<th>Description</th>
						<th>Admin</th>
						<th>Moderator</th>
						<th>Member</th>
						<th>Created</th>
						<th>Num Members</th>
					</tr>
				</tfoot>
				
				<tbody>
					{% for group in pub_groups %}
					<tr>
						<td><a href="/groups/{{ group.name }}">{{group.name}}</a></td>
						<td><span class="italic-med">{{ group.desc }}</span></td>
						{% if group.admin %}
							<th><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></th>
							{% else %}
							<th></th>
						{% endif %}
						{% if group.mod %}
							<th><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></th>
							{% else %}
							<th></th>
						{% endif %}
						{% if group.member %}
							<th><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></th>
							{% else %}
							<th></th>
						{% endif %}
						<th>{{ group.created }}</th>
						<th>{{ group.count }}</th>
					</tr>
					{% endfor %}
				</tbody>
			</table>	

		<body>
		</div>
  </div>
</div>

{% endblock %}


{% block customjs %}

<script type="text/javascript" src="/static/javascript/murmur/group_page.js"></script>

{% endblock %}



