{% extends "murmur/base.html" %}

{% block customcss %}
	<link href="/static/DataTables/datatables.min.css" rel="stylesheet">
{% endblock %}


{% block customjs %}

<div class="container">
  <div class="group-container">
  	
  	<a href="/create_new_group"><button class="mb-3" type="button">Create New Group</button></a>
  	<br />
  	
     <h3>Explore Public Groups</h3>
     <hr />
		<div>

			<script type="text/javascript" charset="utf8"
					src="http://cdn.datatables.net/1.10.10/js/jquery.dataTables.min.js"></script>

			<script type="text/javascript" src="/static/javascript/murmur/group_page.js"></script>

			<table id="pubgroups-table" class="display" cellspacing="0" width="100%">
				<thead>
					<tr>
						<th>Group Name</th>
						<th>Description</th>
						<th>Admin</th>
						<th>Moderator</th>
						<th>Member</th>
						<th>Created</th>
						<th>Num Members</th>
					</tr>
				</thead>
				
				<tfoot>
					<tr>
						<th>Group Name</th>
						<th>Description</th>
						<th>Admin</th>
						<th>Moderator</th>
						<th>Member</th>
						<th>Created</th>
						<th>Num Members</th>
					</tr>
				</tfoot>
			</table>	


		</div>
  </div>
</div>

{% endblock %}

