{% extends website|add:"/base_mailbot.html" %}
{% block customcss %}
<link rel="stylesheet" href="/static/css/mailbot/libs/codemirror.css">
<!-- <link rel="stylesheet" href="/static/css/mailbot/libs/fontawesome-all.min.css"> -->
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"> -->
<!-- Interactive console styles -->
<!-- <link rel="stylesheet" href="/static/css/mailbot/libs/sandbox.css" /> -->
<link rel="stylesheet" href="/static/css/mailbot/style.css">
<link rel="stylesheet" href="/static/css/mailbot/libs/jquery.switchButton.css" />
{% endblock %}

{% block content %}
	<div class="container">
		<div class="group-container">
			<p hidden id="website-name">{{website}}</p>

			<h3>Log in to your Email</span></h3>
			<hr>
			
			<form id="login-email-form">
				Program your inbox!<br><br>
				<!-- <label for="input-email">Email address: </label>
				<input id="input-email" type="email" style="box-sizing: border-box;"></input>
				<br> -->
				{% if user.is_authenticated %}
					{% if imap_authenticated %}

					{% else %}
						<div id="password-container">
								<input type="radio" name="auth-mode" value="oauth" id="rdo-oauth"><label for="rdo-oauth">Oauth </label>
								<input type="radio" name="auth-mode" value="plain" id="rdo-plain" checked><label for="rdo-plain">Plain password </label>
								<br>
								<a class="btn btn-info oauth" style="color:white;" target="_blank" href="https://accounts.google.com/o/oauth2/auth?client_id=1035128514395-ljeutpptbag8unpv2lgo1k93eiq006f6.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&response_type=code&scope=https%3A%2F%2Fmail.google.com%2F">Get access code</a>
								<label class="plain" for="input-password">Password: </label>
								<input class="plain" id="input-password" type="password" style="box-sizing: border-box;"></input>
								<label class="oauth" for="input-access-code">Access code: </label>
								<input class="oauth" id="input-access-code" type="text" style="box-sizing: border-box;"></input>
								<label for="input-host">Host (e.g. imap.xxx .. ): </label>
								<input id="input-host" type="text" style="box-sizing: border-box;"></input>
								<br><br>
								<div style="diplay:none;color:red;" id="donotsend-msg"></div>
								<p class="plain">Before you log in, go to <a id="link-less-secure">"Less secure apps" section of my Account.</a> And Enable less secure log in.</p>
						</div>
						<button type="button" id="btn-login" style="margin-top:10px;">Link your email</button>
					{% endif %}
				{% else %}
					<a type="button" href="/accounts/login/?next=/login_email" style="margin-top:10px;">Log in</a>
				{% endif %}
			</form>
			<br>
			<div id="editor-container">
				<div id="status">
				  <!-- This rule will be applied to your incoming emails.   -->
				  <div class="fa-3x">
						Status: <span class="fa-layers fa-fw">
							<i class="fas fa-sync"></i>
							<span class="fa-layers-counter idle-mark" style="background:Tomato">IDLE</span>
						</span>
						{% if imap_authenticated %}
							<button class="btn btn-primary" id="btn-code-submit">Save & Run</button><div class="switch-wrapper"><input id="test-mode" type="checkbox" value="1"><div id="mode-msg" style="font-size: small;"></div></div>
						{% else %}
							<button class="btn btn-primary" id="btn-code-submit" disabled>Save & Run</button>
						{% endif %}
				  </div>
				</div>
		
					<div style="padding-top:  50px;">
					  <div class="card">
						<div class="card-header">
							<h4>Email engine editor</h4> 
						</div>
						<div class="card-block">
							{% if imap_code %}
						  	<textarea id="code" name="code">
{{ imap_code }}
								</textarea>
							{% else %}
								<textarea id="code" name="code">
if "newsletter" in get_subject():
    print "Delete the email from %s at %s" % (get_sender(), get_date())
    delete()
    
elif "csail-related" in get_subject():
    mark_read(True)
		
elif "action required" in get_subject():
    add_flags(["TODO"])
    print "Flags are ", get_flags()
								</textarea>
							{% endif %}
						</div>
					  </div>
		
					  <div id="console" class="info">
						<p class="info">Output from the engine will be sent to your inbox. Press a button "RUN" to start your engine.</p>
					  </div>
					</div>
			  </div>
			  <!-- END editor col -->	
		</div>
	</div>
	<script type="text/javascript">
		var is_authenticated = {{ user.is_authenticated|yesno:"true,false" }},
			is_imap_authenticated = {{ imap_authenticated|yesno:"true,false" }},
			is_test = {{ is_test|yesno:"true,false" }},
			is_running = {{ is_running|yesno:"true,false" }};
	</script>
	
	  
	<!-- <a href="/groups/{{group_info.name}}">Back to group info page</a> -->
{% endblock %}

{% block customjs %}
	<script type="text/javascript" src="/static/javascript/notify.js"></script>

	<script type="text/javascript" src="/static/javascript/mailbot/bootstrap.bundle.min.js"></script>
	<script type="text/javascript" src="/static/javascript/mailbot/fontawesome-all.min.js"></script>
	<script type="text/javascript" src="/static/javascript/mailbot/codemirror.js"></script>
	<script type="text/javascript" src="/static/javascript/mailbot/addon/edit/matchbrackets.js"></script>
	<script type="text/javascript" src="/static/javascript/mailbot/python.js"></script>

	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.5/require.min.js"></script>
	
	<!-- Underscore, Backbone, backbone-localStorage, jQuery -->
	<script type="text/javascript" src="/static/javascript/mailbot/console/underscore.min.js"></script>
	<script type="text/javascript" src="/static/javascript/mailbot/console/backbone.min.js"></script>
	<script type="text/javascript" src="/static/javascript/mailbot/console/backbone-localStorage.min.js"></script>
	
	<!-- Some extras for the demo: -->
	<script type="text/javascript" src="/static/javascript/mailbot/console/lettering.js"></script>
	<script type="text/javascript" src="/static/javascript/mailbot/console/prettify.js"></script>
	<script type="text/javascript" src="/static/javascript/mailbot/console/DAT.GUI.min.js"></script>

	<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"></script>
	<script type="text/javascript" src="/static/javascript/mailbot/jquery.switchButton.js"></script>
	
	<!-- The JS Sandbox Console script (requires underscore, backbone and jquery): -->
	<!-- <script type="text/javascript" src="/static/javascript/mailbot/console/sandbox-console.js"></script> -->

	<script type="text/javascript" src="/static/javascript/murmur/login_imap.js"></script>
{% endblock %}