{% extends "murmur/base.html" %}

{% block customcss %}
{% endblock %}

{% block content %}

<div class="container">
  <div class="group-container">

		<div id="post-column-area-wrapper">
		<div id="post-column-area">
			<div id="main-area">
				<div class="main-area-content">
					{% if member_info.admin %}
						<span class="admin label">Admin</span>
					{% endif %}
					{% if member_info.moderator %}
						<span class="mod label">Mod</span>
					{% endif %}
					
					
				<h1>{{ active_group.name }}</h1>
				{% if active_group.description %}
					<i>{{ active_group.description }}</i>
					<br>
				{% endif %}
				<br>
				
				{% if tag_info %}
					<strong>All tags: </strong><BR>
					<table>
					{% for tag in tag_info %}
						<tr style="border-bottom: 1px solid #bbbbbb; border-top: 1px solid #bbbbbb;">
							<td style="padding-right: 20px;">
								<h4><label class="label2" id="tag_{{ forloop.counter0 }}" style="background-color: #{{ tag.color }}">{{ tag.name }}</label> </h4>
							</td>
							<td style="padding-right: 20px;">
								<small>
									{{ tag.num_p }} 
									{% if tag.num_p == 1 %} 
										post 
									{% else %}
										posts
									{% endif %}
								</small>
							</td>
							
							<td>
								{% if member_info %}
									{% if member_info.no_emails or not member_info.always_follow_thread %}
										{% if tag.followed %}
											<label class="label3 tag_follow_mute" id="tag_{{ forloop.counter0 }}_button">Unsubscribe this tag</label>
										{% else %}
											<label class="label3 tag_follow_mute" id="tag_{{ forloop.counter0 }}_button">Subscribe this tag</label>
										{% endif %}
									{% else %}
										{% if tag.muted %}
											<label class="label3 tag_follow_mute" id="tag_{{ forloop.counter0 }}_button">Unsubscribe this tag</label>
										{% else %}
											<label class="label3 tag_follow_mute" id="tag_{{ forloop.counter0 }}_button">Subscribe this tag</label>
										{% endif %}
									{% endif %}
								{% endif %}
							</td>
						</tr>
					{% endfor %}
					</table>
					
				{% else %}
					There are no tags. You can tag an email by adding it to the subject with <strong>[Tag]</strong> or anywhere in the body with <strong>#tag</strong>.
				{% endif %}
				<P></P><BR>
				<div>
					{% if member_info %}
						{% if member_info.no_emails %}
							You are currently set to <b>receive no emails</b> from this group, except those you follow. <br />You can follow individual threads or all threads with a specific tag.
						{% elif member_info.always_follow_thread %}
							You are currently set to <b>receive all emails</b> from this group, except those you mute. <br />You can mute individual threads or threads with a specific tag.
						{% else %}
							You are currently set to <b>receive the first email of each thread</b> from this group, except those you follow. <br />You can follow individual threads or all threads with a specific tag.
						{% endif %}
					{% endif %}
					<BR>
					<a href="/groups/{{active_group.name}}/edit_my_settings">Change your settings.</a>
				</div>
				</div>
			</div>

			<div class="post-list-container">
				
				{% if active_group.name != "No Groups Yet" %}
					<a href="/groups/{{ active_group.name }}/create_post"><button type="button">+ New Post</button></a>
					<a href="/groups/{{ active_group.name }}"><button type="button">View Group Info</button></a>
					<BR><BR>
					<input type="text" class="default-text" value="Search within posts" title="Search within posts"/>
		    	
				{% else %}
				<i>You are not in any groups yet. <a href="/group_list">Join or create a new group.</a>
				</i>
			{% endif %}
			<BR><BR>
			</div>
		
			<ul id="post-list-table">
				{% for post in posts.threads %}
				<a href="/thread?group_name={{ active_group.name }}&tid={{ post.thread_id }}">
					<li class="row-item" id="{{ post.thread_id }}">
						<div class="left-column-area-metadata">
							<span class="gray">{{ post.timestamp|date:"n/j/Y" }}</span>
							<span class="gray">{{ post.timestamp|date:"h:i A" }}</span>
							<span class="unread">{{ post.num_replies }}</span> <br>
						</div>
						<div class="middle-column-area-content">
							<span class="strong">{{ post.post.subject }}</span>
							<br />
							<span class="strong-gray">{{ post.post.from }}</span><br />
							<span class="blurb ellipsis">{{ post.post.text|striptags }}
							</span>
						</div>
													
						{% if post.tags|length > 0 %}
							<div>
								{% for tag in post.tags %}
									<span class="label2" style="background-color: #{{tag.color}}; float: right; position: relative; top: 5px;">{{tag.name}}</span>
								{% endfor %}
							</div>
						{% endif %}
						
						<div>
						<span class="label2" style="background-color: #ffffff; color: #3D7AA6; border: #3D7AA6 solid 1px;">+{{ post.likes }}</span>

						{% if posts.member_group.no_emails or not posts.member_group.always_follow_thread %}
							{% if post.following %}
								<span class="label2 following" style="background-color: #3D7AA6;">Following</span>
							{% endif %}
						{% else %}
							{% if post.muting %}
								<span class="label2 muted" style="background-color: #3D7AA6;">Muted</span>
							{% endif %}
						{% endif %}
						</div>

					</li>
				</a>
			{% endfor %}
			</ul>
			{% if posts.threads|length > 6 %}
			<div id="loading"><img src="static/images/spinner.gif" width="16px" /> Loading more posts...</div>
			<div id="nomoreposts" style="display:none;">No more posts to show</div>
			{% else %}
			<div id="nomoreposts">No more posts to show</div>
			{% endif %}
			<div id="scroll_trigger"></div>
		</div>
		</div>
  </div>
</div>

{% endblock %}

{% block customjs %}
<script src="/static/javascript/pagination.js"></script>

{% endblock %}

