{% extends "murmur/base.html" %}

{% block customcss %}

<style>
  #mySharedown {
    display: none;
  }

  #mySharedown.show {
    display: block;
  }

  .sharedown-content {
    width: 100%;
    padding: 5px; 
    /* padding-top: 10px;
    padding-bottom: 10px; */
    background-color: white;
    height: 80px;
    overflow: scroll;
    color: white;
    /* height: 50px; */
    position: relative;
    /* top: 100%; */
  }

  .filter-tag-box {
    /* padding: 5px;  */
    left: 60%;
    /* top:0; */
    margin-top: -30px;
    width: 300px;
    position: absolute;
    background-color: white;
    height: 80px;
  }

  .addbtn {
    cursor: pointer;
    width: 50px;
    left: 100%;
    position: absolute;
    margin-left: -60px;
    top: 20px;
    background-color: #b1e5fa;
    border-radius: 5px;
  }

  .addbtn:hover {
    background-color:#0da4e0
  }

  .post-item-main {
    display: flex;
    flex-flow: row wrap;
  }

  .post-item-footer {
    display: inline-flex;
    flex-flow: row wrap;
  }

  .left-column-area-content {
    float: left;
    text-align: left;
  }

  .right-column-area-content {
    float: inline-end;
    text-align: right;
  }

  .post-tags-subject {
    display: inline-flex;
    flex-flow: row wrap;
    align-items: flex-start;
    max-width: 50vw;
  }

  .tag-container {
    display: inline-flex;
    flex-flow: row nowrap;
  }

  .post-subject {
    font-weight: bold;
    align-self: baseline;
  }

  /* 767px breakpoint to have tag and subject inputs side by in iPad screen but not break in screen widths smaller than this */
  @media only screen and (max-width: 767px) { 
    .tag-container {
      display: flex;
      flex-flow: column wrap;
    }

    .post-tags-subject {
      display: flex;
      flex-flow: column wrap;
      align-items: flex-start;
    }
    
    .right-column-area-content {
      float: left;
      text-align: left;
    }
  }

</style>
{% endblock %}

{% block content %}

<div class="container">
  <div class="group-container">

    <div id="post-column-area-wrapper">
      <div id="post-column-area">
        <div id="main-area">
          <div class="main-area-content">
            {% if member_info.admin %}
            <span class="admin label text-light rounded-sm">Admin</span>
            {% endif %}
            {% if member_info.moderator %}
            <span class="mod label text-light rounded-sm">Mod</span>
            {% endif %}

            <div style="display:none;" id="group_name">{{ active_group.name }}</div>
            <h1>{{ active_group.name }}</h1>
            {% if active_group.description %}
            <i>{{ active_group.description }}</i>
            <br>
            {% endif %}
            <br>

            {% if tag_info %}
            <strong>All tags: </strong><BR>
            <table>
              {% for tag in tag_info %}
              <tr style="border-bottom: 1px solid #bbbbbb; border-top: 1px solid #bbbbbb;">
                <td style="padding-right: 20px;">
                  <details class="mt-2">
                    <summary>
                      <h4 class="d-inline-block">
                        <label class="label2 display-4" id="tag_{{ forloop.counter0 }}" style="background-color: #{{ tag.color }}">{{ tag.name }}</label>
                      </h4>
                    </summary>
                    <p>Tag Description</p>
                  </details>
                </td>
                <td style="padding-right: 20px;">
                  <small>
                    {{ tag.num_p }}
                    {% if tag.num_p == 1 %}
                    post
                    {% else %}
                    posts
                    {% endif %}
                  </small>
                </td>

                <td>
                  {% if member_info %}
                  {% if member_info.no_emails or not member_info.all_emails %}
                  {% if tag.followed %}
                  <label class="label3 tag_follow_mute" id="tag_{{ forloop.counter0 }}_button">Unsubscribe this
                    tag</label>
                  {% else %}
                  <label class="label3 tag_follow_mute" id="tag_{{ forloop.counter0 }}_button">Subscribe this
                    tag</label>
                  {% endif %}
                  {% else %}
                  {% if tag.muted %}
                  <label class="label3 tag_follow_mute" id="tag_{{ forloop.counter0 }}_button">Unsubscribe this
                    tag</label>
                  {% else %}
                  <label class="label3 tag_follow_mute" id="tag_{{ forloop.counter0 }}_button">Subscribe this
                    tag</label>
                  {% endif %}
                  {% endif %}
                  {% endif %}
                </td>
              </tr>
              {% endfor %}
            </table>

            {% else %}
            There are no tags. You can tag an email by adding it to the subject with <strong>[Tag]</strong> or anywhere
            in the body with <strong>#tag</strong>.
            {% endif %}
            <P></P><BR>
            <div>
              {% if member_info %}
              {% if member_info.no_emails %}
              You are currently set to <b>receive no emails</b> from this group, except those you follow. <br />You can
              follow individual threads or all threads with a specific tag.
              {% elif member_info.all_emails %}
              You are currently set to <b>receive all emails</b> from this group, except those you mute. <br />You can
              mute individual threads or threads with a specific tag.
              {% else %}
              You are currently set to <b>receive the first email of each thread</b> from this group, except those you
              follow. <br />You can follow individual threads or all threads with a specific tag.
              {% endif %}
              <BR>
              <a href="/groups/{{active_group.name}}/edit_my_settings">Change your settings.</a>
              {% endif %}
            </div>
          </div>
        </div>

        <div class="post-list-container">
          {% if active_group.name != "No Groups Yet" and is_member%}
          <a href="/groups/{{ active_group.name }}/create_post"><button type="button">+ New Post</button></a>
          <a href="/groups/{{ active_group.name }}"><button type="button">View Group Info</button></a>


          <div class="filter-tag-box">
            <input id="selectedTagsArr" type="hidden"></input>
            <span style="color:#666666; font-size: 15px; margin-left: 2px;">
              Filter by:
            </span>
            <div style=" border: solid #cccccc 1px;height:50px;color:  #cccccc ; width: 75%; margin: 5px; padding: 5px; font:10px/26px Georgia, Garamond, Serif;overflow:scroll; z-index: 1;">
             <div id="add-instruction">        Click "Add" button to filter posts by
              <label class="label2" 
                    style="background-color: #cccccc; z-index: 2;">tag
                   
                  </label>s</div>
      
              {% for tag in tag_info %}

              <label class="label2" id="list-{{tag.name}}"
                style="background-color: #{{ tag.color }}; display: none;">{{ tag.name }}
                <span class="tag-delete-btn"
                  onclick="toggleTag('{{tag.name}}')">&times</span>
              </label>

              {% endfor %}
            </div>
            <p onclick="shareVis()" class="addbtn">&nbsp Add</p>
            <div id="mySharedown" class="sharedown-content">
              <div>
                {% for tag in tag_info %}
                <div id="dropdown-{{tag.name}}" style="margin-top: 5px;">
                  <input style="cursor: pointer;" type="checkbox" id="checkbox-{{tag.name}}"
                    onclick="toggleTag('{{tag.name}}')">  <label class="label2" id="list-{{tag.name}}"
                    style="background-color: #{{ tag.color }}; z-index: 2;">{{ tag.name }}
                   
                  </label><br>
                </div>
                {% endfor %}
              </div>
              <!-- <div id="foo"></div> -->
            </div>
          </div>

          <BR><BR>
          <input type="text" class="default-text" value="Search within posts" title="Search within posts" />
          {% elif not is_member %}
            {% if user.is_authenticated %}
            <button type="button" id="btn-subscribe-group">Join the list</button>
            {% else %}
            <a href="/accounts/login/?next=/groups/{{ active_group.name }}">
              <button type="button">Join the list</button>
            </a>
            <a href="/accounts/register/">Don't have a Murmur account yet?</a>
            {% endif %}
          {% else %}
          <i>You are not in any groups yet. <a href="/group_list">Join or create a new group.</a>
          </i>
          {% endif %}
          <BR><BR>
        </div>

        <ul id="post-list-table">
          {% for post in posts.threads %}
          <a href="/thread?group_name={{ active_group.name }}&tid={{ post.thread_id }}">
            <li class="row-item" id="{{ post.thread_id }}">
              <article class="post-list-item">
                <div class="post-list-main">
                  <div class="left-column-area-content">
                    <div class="post-tags-subject">
                      {% if post.tags|length > 0 %}
                        <div class="tag-container mr-1">
                          {% for tag in post.tags %}
                          <span class="label2"
                            style="background-color: #{{tag.color}}; float: left; position: relative; top: 5px;">{{tag.name}}</span>
                          {% endfor %}
                        </div>
                      {% endif %}
                      <span class="post-subject">{{ post.post.subject }}</span>
                    </div>
                    <p class="strong-gray m-0 mt-1">{{ post.post.from }}</p>
                    <p class="blurb ellipsis m-0 mt-1">{{ post.post.text|striptags }}</p>
                  </div>
                  <div class="right-column-area-content">
                    <p class="gray m-0">{{ post.timestamp|date:"n/j/Y" }}</p>
                    <p class="gray m-0">{{ post.timestamp|date:"h:i A" }}</p>
                    <div>
                      <span class="label2 mr-2 p-1"
                        style="background-color: #ffffff; color: #3D7AA6; border: #3D7AA6 solid 1px;">+{{ post.likes }}</span>
                      <span class="unread p">{{ post.num_replies }}</span> 
                    </div>
                    {% if posts.member_group.no_emails or not posts.member_group.all_emails %}
                      {% if post.following %}
                      <p class="label2 following" style="background-color: #3D7AA6;">Following</p>
                      {% endif %}
                    {% else %}
                      {% if post.muting %}
                      <p class="label2 muted" style="background-color: #3D7AA6;">Muted</p>
                      {% endif %}
                    {% endif %}
                  </div>
                </div>
              </article> 
            </li>
          </a>
          {% endfor %}
        </ul>
        {% if posts.threads|length > 6 %}
        <div id="loading"><img src="static/images/spinner.gif" width="16px" /> Loading more posts...</div>
        <div id="nomoreposts" style="display:none;">No more posts to show</div>
        {% else %}
        <div id="nomoreposts">No more posts to show</div>
        {% endif %}
        <div id="scroll_trigger"></div>
      </div>
    </div>
  </div>
  <input type="hidden" id="myVar" name="variable" value="{{ tag_info }}">

</div>

{% endblock %}

{% block customjs %}
<script src="/static/javascript/pagination.js"></script>
<script type="text/javascript" src="/static/javascript/third-party/jquery-ui.min.js"></script>
<script type="text/javascript" src="/static/javascript/third-party/ckeditor/ckeditor.js"></script>
<script type="text/javascript" src="/static/javascript/third-party/typeahead.js/typeahead.jquery.min.js"></script>
<script type="text/javascript" src="/static/javascript/third-party/typeahead.js/bloodhound.min.js"></script>
<script type="text/javascript" src="/static/javascript/murmur/main.js"></script>
<script>

  //select tags


  let selectedTags = []
  function updatePosts() {
    x = document.querySelectorAll(".tag-container");
    for (let post of x) {
      let postTags = []
      for (let i = 0; i < post.childNodes.length; i++) {
        if (i % 2 == 1) {
          postTags.push(post.childNodes[i].innerText);
        }

      }
      let shouldBeSelected = selectedTags.every(val => postTags.includes(val));

      let a = post.closest("li");
      if (shouldBeSelected) {
        a.style.display = null;
      } else {
        a.style.display = "none";
      }


    }
    if (selectedTags.length == 0){
      console.log("yes instruction",  document.getElementById("add-instruction")); 
      document.getElementById("add-instruction").style.display = null; 
    }else{
      console.log("no instruction",  document.getElementById("add-instruction")); 
      document.getElementById("add-instruction").style.display = "none"; 

    }
  }
  function toggleTag(tagName) {
    if (selectedTags.includes(tagName)) {
      selectedTags = selectedTags.filter(function (item) {
        return item !== tagName
      })
      document.getElementById("dropdown-" + tagName).style.color = "white";
      document.getElementById("list-" + tagName).style.display = "none";
      document.getElementById("checkbox-" + tagName).checked = false;

      updatePosts();


    } else {
      selectedTags.push(tagName);
      document.getElementById("dropdown-" + tagName).style.color = "blue";
      document.getElementById("list-" + tagName).style.display = null;
      document.getElementById("checkbox-" + tagName).checked = true;

      updatePosts();
    }
  }
  // Add the contents of options[0] to #foo:
  let show = false;
  function shareVis() {
    if (!show) {
      document.getElementById("mySharedown").classList.add("show");
    } else {
      document.getElementById("mySharedown").classList.remove("show");
    }
    show = !show;
    //document.getElementById("mySharedown").className = "sharedown-content show";
  }

  //Hide the dropdown menu when clicked outside
  window.onclick = function (event) {
    if (
      !(
        event.target.matches(".addbtn") ||
        event.target.matches(".sharedown-content")
      )
    ) {
      var sharedowns = document.getElementsByClassName("sharedown-content");
      var i;
      for (i = 0; i < sharedowns.length; i++) {
        var openSharedown = sharedowns[i];
        if (openSharedown.classList.contains("show")) {
          openSharedown.classList.remove("show");
        }
      }
    }
  };

  document
    .getElementById("mySharedown")
    .addEventListener("click", function (event) {
      event.stopPropagation();
    });

</script>
{% endblock %}
