body, html {
	height: 100%;
	padding-top: 50px;
}

#home-body, #home-html {
	font-family: 'Raleway', sans-serif;
	padding-top: 0px;
}

hr{
	background-color: #46b4da;
	border: thin #46b4da solid;
}

.container-home {
	 width: 800px;
	 margin: 0 auto;
	 height: 100%;
}

@media (min-width: 768px) and (max-width: 1000px) {
    .navbar-collapse.collapse {
        display: none !important;
    }
    .navbar-collapse.collapse.in {
        display: block !important;
    }
    .navbar-header .collapse, .navbar-toggle {
        display:block !important;
    }
    .navbar-header {
        float:none;
    }
}

#squadbox-header {
	background-color: #f7f7f7;
	border-bottom: 1px solid #e8e8e8;
}

.home-left, .home-right, .home-left-mobile, .home-right-mobile {
	
	float: left;
	margin-top:30px; 
	padding:30px; 
	margin-left: 10px;
	margin-right: 10px;
	vertical-align:top;
	background-color: #f8f8f8;

}

.home-left, .home-right {
	min-width: 380px;
	max-width: 380px;
}

.home-left-mobile, .home-right-mobile {
	min-width: 320px;
	max-width: 320px;
}

#site-name, #user_email, #email_dropdown, #groups_dropdown {
	font-family: 'Quicksand', sans-serif;
	font-weight: bold;
}

#login-form, #reg-form {
	display: table;
}

#login-form, #reg-form > p {
	display: table-row;
}

#login-form, #reg-form > p > label, input {
	display: table-cell;
}

.h3 {
	font-weight: bold;
}

.navbar-default .navbar-brand {
	color: #000000;
}

.icon {
	height: 25px;
	position: relative;
	top: -5px;
	padding-right: 5px;
}

.accounts {
	margin:0px auto;
	margin-top:30px; 
	padding:30px; 
	vertical-align:top;
	background-color: rgba(183, 233, 250, 0.5);
	max-width:380px;
	font-family: 'Raleway', sans-serif;
}

.group-container {
	margin:0px auto;
	margin-top:70px;
	padding:30px; 
	vertical-align:top;
	background-color: rgba(183, 233, 250, 0.5);
	font-family: 'Raleway', sans-serif;
}

.group-container-posts {
	margin:0px auto;
	margin-top:30px; 
	padding:8px; 
	vertical-align:top;
	background-color: rgba(183, 233, 250, 0.5);
}

#text-search-post {
	width: 316px;
	background-color:#ffffff;
}

.default-text {
	color: #000000;
	font-style: italic;
}

.tt-hint {
	visibility: none;
}

.suggestion {
	border: #D7ECFA solid 1px;
}

.tt-dropdown-menu {
	background-color: #ffffff;
	width: 326px;
}

.tt-dataset-posts {
	border: #447EAC solid 1px;
}

.tt-dataset-groups {
	border: #447EAC solid 1px;
}

.tt-dataset-posts a {
	text-decoration: none;
	color: #000000;
}

.postheader {
	font-size: 20px; 
	font-weight: bold; 
	padding-right: 20px;
}

.tt-dataset-posts div:hover {
	background-color: #FFF7CE;
}

.tt-dataset-groups a {
	text-decoration: none;
	color: #000000;
}

.tt-dataset-groups div:hover {
	background-color: #FFF7CE;
}

.tt-cursor{
    background-color: #FFF7CE;
}


.dropdown-left {
	min-width: 105px;
	max-width: 240px;
}

.dropdown-right {
	min-width: 150px;
	max-width: 215px;
}


.accounts label{
	font-weight:bold; 
	color:#666;
}

.accounts input {
	margin: 5px;
}

#post-column-area-wrapper {
    color: #333;
}

#left-column-area-wrapper{
    position: absolute;
        top: 50px;
        right: auto;
        bottom: 0px;
        left: 0px;
        color: #333;
        width: 350px;
        z-index:100;
        border-right: #999 solid 1px;
}

#post-column-area{
      margin:0;
      padding:0;
}


#left-column-area{
      margin:0;
      padding:0;
}

.left-column-area-metadata{
	float:right;
	width:70px;
	text-align:right;
}

.label2 {
	display: inline;
	padding: .2em .6em .3em;
	font-size: 75%;
	font-weight: 700;
	line-height: 1;
	color: #fff;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	border-radius: .25em;
}


.label3 {
	display: inline;
	padding: .2em .6em .3em;
	font-size: 80%;
	line-height: 1;
	color: #000000;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	border-radius: .25em;
	border: 1px solid #bbbbbb;
	background-color: #D7ECFA;
	font-weight: 400;
	cursor: pointer;
}


#main-area-wrapper{
	position:absolute;
	top: 50px;
	right: 0px;
	bottom: 0px;
	padding: 10px;
	left: 350px;
	min-width: 450px;
	overflow: auto;
}

#main-area{
      margin:0;
      padding:0;
}


.middle-column-area-content .ellipsis {
	display:block;
	white-space: nowrap;
	max-width: 600px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.left-column-area-content .ellipsis{
	display:block;
	white-space: nowrap;
	max-width: 220px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.left-column-area-metadata .ellipsis{
        display:block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
}

.post-container {
        background: rgba(183, 233, 250, 0.5);
        padding: 5px 10px 5px 10px;
        margin:0px;
}

.post-list-container {
    padding: 5px 0px 5px 0px;
    margin:0px;
}

#text-search-group {
	top: -6px;
	width:219px;
}

#text-search-post {
	margin-top: 3px;
	width:328px;
}

input, select{
	padding:5px;
	border: #46b4da solid thin;
}

button, input[type="button"], input[type="submit"]{
	background-color: #357ebd;
	color: #FFF;
	border: #357ebd solid thin;
	padding:5px 10px 5px 10px;
}


textarea { 
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box;   
	box-sizing: border-box;        
	width: 100%;
	max-width: 100%;
	height:50px;
}


#mailx-header ul {
    list-style-type: none;
    padding-left: 0px;
    margin-left: 0px;
}

#left-column-area-wrapper ul {
    list-style-type: none;
    padding-left: 0px;
    margin-left: 0px;
}



.left-column-area-content{
      margin-right:75px;
      padding:0;
}


.strong-gray{
	color: #737373;
	font-weight: bold;
}


.gray{
	color: #737373;
}

.strong{
	font-weight: bold;
}

.unread{
	background-color: #D7ECFA;
        color: #3D7AA6;
	text-align:center;
	width: 20px;
	display: inline-block;
}
.default-text-active { 
	color: #000000; 
	font-style: italic;
}

.comment{
	background: #D7ECFA;
	padding: 20px;
	margin-top:10px;
	margin-bottom:10px;
}

.

.reply{
        margin-top:10px;
        margin-bottom:10px;
}
	
#groups-table .row-item {
	cursor: pointer;
}

#mailx-header li {
	margin-left: 10px;
	margin-right: 10px;
}

#left-column-area-wrapper li {
	margin-left: 10px;
	margin-right: 10px;
}

.label {
	padding-left: 5px;
	padding-right: 5px;
	margin-left: 5px;
	margin-right: 5px;
	float: right;
}

.admin {
	background-color: pink;
}

.mod {
	background-color: green;
}

.member {
	background-color: blue;
}

.blurb {
	min-height: 15px;
}

.italic-small {
	font-style: italic;
	font-size: 13px;
	display: block;
	margin-left: 35px;
	margin-right: 35px;
}

.italic-med {
	font-style: italic;
	font-size: 15px;
}


#posts-table, #groups-table{
	position:absolute;
	bottom:0px;
	overflow: auto;
}

#posts-table {
	top: 77px;
}

#groups-table {
	top: 48px;
}

#post-list-table {
	list-style-type: none;
}

#post-list-table .row-item{
	background: white;
	padding: 15px;
        border-bottom: #ccc solid 1px;
        vertical-align: middle;
	border-bottom: 1px solid #ccc;
	cursor: default;
}

#post-list-table .row-item:hover {
	cursor: hand;
	cursor: pointer;
	background: #FFF7CE!important;
}

#post-list-table .row-item.selected {
	background: #FFF7CE!important;
}

#post-list-table {
	padding: 0px;
}

#post-list-table a {
	text-decoration: none;
	color: #000000;
}

#btn-create-new-post {
	width: 202px;
}

.table, #post-list-table{
	width: 100%;
}

.table .row-item {
	background: white;
	padding: 15px;
        border-bottom: #ccc solid 1px;
        vertical-align: middle;
	border-bottom: 1px solid #ccc;
	cursor: default;
}

.table .row-item.selected {
	background: #FFF7CE!important;
}

.main-area-content {
	padding-right: 20px;
	padding-top: 20px;
	padding-left: 20px;
	padding-bottom: 20px;
	margin-bottom: 10px;
	margin-top: 0px;
	background-color: #FFF;
	box-shadow: 1px 0px 3px #666;
}

#members-table {
	background: #D7ECFA;
}


#highlight_post {
	background-color: #FFF7CE;
}

blockquote {
	font-size: 12px;
}

.add-padding {
	padding-left: 10px;
	padding-right: 10px;
}

#image-attrib {
	position: relative;
  	bottom: 0;
  	right: 0;
  	padding: 10px;
}

.paginate_disabled_previous, .paginate_disabled_next {
	display: none;
}

.paginate_enabled_next {
	padding-left: 10px;
}

body > header {
    padding: 1em 1.5em 1.8em;
    background: #b8e9fa;
    color: white;
    text-align: center;
    font-size: 120%;
}

body > header #logo {
    display: block;
    font: 800 300%/.8 'Quicksand', 'Helvetica Neue', Helvetica, Arial, Lato, sans-serif;
    padding-bottom: 30px;
}

li > a {
	font-size: 16px;
}

.navbar-default {
	background-color: #ffffff;
    border-color: #ffffff;
}

body > section {
    -ms-flex: 1;
    flex: 1;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: column;
    flex-flow: column;
    -ms-flex-align: center;
    align-items: center;
    padding: 1em;
    font-size: 24px;
    text-align: center;
    padding-top: 25px;
}

@media only screen and (max-width: 767px) {
	body > header #logo {
      font-size: 2em;
	}
	body > section {
		font-size: 20px;
	}

}

p {
	max-width: 80%;
	padding-bottom: 10px;
}

a:hover {
	text-decoration: none;
}

strong {
	color: #F05738;
}

.diagram {
	padding-bottom: 50px;
}

.img-circle {
	border: 5px #FFFFFF solid;
	margin-bottom: 5px;
	margin-top: 15px;
}

h2 {
	margin-top: 0;
	padding-bottom: 10px;
}