{% extends website|add:"/base.html"  %}

{% block content %}
<div class="accounts">
	<h3>{{ website | title }} Login</h3>
	<hr />
	<form method="POST" action="." id='login-form'>
		{% csrf_token %}
		{{ form.as_p }}
		<br />
		<input type="submit" class="btn btn-primary" value="Log In" />
		<!-- https://stackoverflow.com/questions/24234134/django-1-6-redirect-to-last-page-after-login -->
		<input type="hidden" name="next" value="{{ next }}" />
	</form>
	<br />
	<P><a href="{% url "auth_password_reset" %}">Reset Password</a></p>
	<p><a href="{% url "registration_register" %}">Register</a></p>
</div>


{% endblock %}
