{% extends website|add:"/base.html" %}
{% block headlink-right %}
{% endblock %}
{% block content %}
	<div class="accounts">
		<h3>Register Account</h3>
		<hr />
		{% if website == 'squadbox' %}
		<i>Note: Squadbox is still in the development and testing phase and thus may have bugs. Please send any feedback to <a href="mailto:squadbox@mit.edu">squadbox@mit.edu</a>.</i>
		<br><br>
		{% endif %}
		<form method='post' id='reg-form'>
			{% csrf_token %}		
			{{ form.as_p }}
			<input type="submit" class="btn btn-primary" value="Register!" />
		</form>
	</div>
{% endblock %}