{% extends "group_container_base.html" %}

{% block container-content %}
	
	{% if res.status %}
		You've {{ type }} the email from {{ email_address }} with subject "{{ email_subject }}". 
		{% if type == 'approved' %}
			{% if website == 'squadbox' %}
				The message has been sent on to its intended recipient. 
			{% elif website == 'murmur' %}
				The message has been posted to the group "{{ group_name }}". 
			{% endif %}
		{% elif type == 'rejected' %}
			If that was a mistake, <a href="/approve_get?group_name={{ group_name }}&post_id={{post_id}}">click here</a> to approve the message.
		{% endif %}

	{% else %}
		Sorry, there was an error: {{ res.code | lower }}.
	{% endif %}

{% endblock %}