<!DOCTYPE HTML>
<html>
<head>
	<title>{% block title %}MailX{% endblock %}</title>
	<link rel="stylesheet" type="text/css" href="/static/css/main.css" />
	<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>	
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.js"></script>
	<script type="text/javascript" src="/static/javascript/third-party/csrf.min.js"></script>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>

<body>
	<div id="header">
		<span id="headlink-left">
		{% block headlink-left %}{% endblock %}
		</span>
		<span id="headlink-right">
		{% block headlink-right %}{% endblock %}
		</span>
	</div>
	<div id="page">
	{% block content %}{% endblock %}
	</div>
</body>
</html>