{% load staticfiles %}


<!DOCTYPE HTML>
<html>
<head>
	<title>{% block title %}MailX{% endblock %}</title>
	<link href="/static/css/third-party/bootstrap.min.css" rel="stylesheet">
	<link href="/static/css/main.css" rel="stylesheet">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>

<body>
	
<div class="navbar navbar-default navbar-fixed-top navlook" role="navigation">
      <div class="container">
        <div class="navbar-header">
        	<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">MailX</a>
        </div>
        {% if user.is_authenticated %}
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">My Groups<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
            <li><a href="/groups">Manage Groups</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
            	<a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ user.email }} <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="/settings">Settings</a></li>
                <li><a href="/accounts/logout">Logout</a></li>
              </ul>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
        {% endif %}
      </div>
    </div>
	

	{% block content %}
	
	
	{% endblock %}

	
	<script type="text/javascript" src="/static/javascript/third-party/jquery.min.js"></script>	
	<script src="/static/javascript/third-party/bootstrap.min.js"></script>
	<script type="text/javascript" src="/static/javascript/third-party/csrf.min.js"></script>
	<script type="text/javascript" src="/static/javascript/third-party/tiny_mce/tiny_mce.js"></script>
	<script type="text/javascript" src="/static/javascript/third-party/noty/jquery.noty.js"></script>
	<script type="text/javascript" src="/static/javascript/third-party/noty/layouts/topRight.js"></script>
	<script type="text/javascript" src="/static/javascript/third-party/noty/themes/default.js"></script>
	<script type="text/javascript" src="/static/javascript/third-party/jquery.dataTables.min.js"></script>
	<script type="text/javascript" src="/static/javascript/main.js"></script>
</body>
</html>