{% load staticfiles %}


<!DOCTYPE HTML>
<html>
<head>
	<title>{% block title %}Murmur{% endblock %}</title>
	<link href="/static/css/third-party/bootstrap.min.css" rel="stylesheet">
	<link href="/static/css/base.css" rel="stylesheet">
	{% block customcss %}
	{% endblock %}
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>

<body>
	
<div id="mailx-header" class="navbar navbar-default navbar-fixed-top navlook" role="navigation">
      <div class="container">
        <div class="navbar-header">
        	<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Murmur</a>
        </div>
        {% if user.is_authenticated %}
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
          	
          	{% if not group_page %}
	            <li class="dropdown dropdown-left">
	              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span id="active_group">{{ active_group.name }}</span><span class="caret"></span></a>
	              <ul class="dropdown-menu" role="menu">
	              	{% for group in groups %}
	                	<li><a href="/posts?group_name={{ group.name }}">{{ group.name }}</a></li>
					{% endfor %}
	                <li class="divider"></li>
	                <li><a href="/my_groups">Manage my groups</a></li>
	                <li><a href="/group_list">Join/create new groups</a></li>
	              </ul>
	            </li>
	            
	            <li><a href="/my_groups">My Groups</a></li>
	            <li><a href="/group_list">Explore Groups</a></li>
	        
            {% else %}
            	<li class="dropdown dropdown-left">
	              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span>View Posts</span><span class="caret"></span></a>
	              	<ul class="dropdown-menu" role="menu" id="list-group-names">
		              	{% for group in groups %}
		              		{% if group.name == active_group %}
		              			<li><a href="/posts?group_name={{ group.name }}"><span id="active_group">{{ group.name }}</span></a></li>
		              		{% else %}
		                		<li><a href="/posts?group_name={{ group.name }}">{{ group.name }}</a></li>
		                	{% endif %}
						{% endfor %}
	                <li class="divider"></li>
	                <li><a href="/my_groups">Manage my groups</a></li>
	                <li><a href="/group_list">Join/create new groups</a></li>
	              </ul>
	            </li>
            	{% if my_groups %}
            		<li class="active"><a href="/my_groups">My Groups</a></li>
            		<li><a href="/group_list">Explore Groups</a></li>
            	{% else %}
            		<li><a href="/my_groups">My Groups</a></li>
            		<li class="active"><a href="/group_list">Explore Groups</a></li>
				{% endif %}
            {% endif %}
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown dropdown-right">
            	<a href="#" class="dropdown-toggle" data-toggle="dropdown"><span id="user_email">{{ user.email|truncatechars:24 }}</span><span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="/settings">Settings</a></li>
                <li><a href="/accounts/logout">Logout</a></li>
              </ul>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
        {% endif %}
      </div>
    </div>
	

	{% block content %}
	
	
	{% endblock %}

	<script type="text/javascript" src="/static/javascript/third-party/jquery.min.js"></script>	
	<script src="/static/javascript/third-party/bootstrap.min.js"></script>
	<script type="text/javascript" src="/static/javascript/third-party/csrf.min.js"></script>
	<script type="text/javascript" src="/static/javascript/third-party/tiny_mce/tiny_mce.js"></script>
	<script type="text/javascript" src="/static/javascript/third-party/noty/jquery.noty.js"></script>
	<script type="text/javascript" src="/static/javascript/third-party/noty/layouts/topRight.js"></script>
	<script type="text/javascript" src="/static/javascript/third-party/noty/themes/default.js"></script>
	<script type="text/javascript" src="/static/javascript/third-party/jquery.dataTables.min.js"></script>
	<script type="text/javascript" src="/static/javascript/third-party/ckeditor/ckeditor.js"></script>
	
	{% block customjs %}
	<script type="text/javascript" src="/static/javascript/main.js"></script>
	{% endblock %}
</body>
</html>