{% extends "base.html" %}

{% block customcss %}
{% endblock %}

{% block content %}

<div class="container">
  <div class="group-container">
	
	<h3>Edit My Settings for <span id="group-name">{{ group_info.name }}</span></h3><hr /><br />
    <form id="group-settings-form">
        
	<span class="strong">Receiving Replies : </span> <br />

	{% if settings.following %}
		<input type="radio" name="following" value="yes" id="rdo-follow" checked>
		Always receive all replies<br />
		<span class="italic-small">(Default) You will be emailed all replies to any messages on this list.</span><br />
		<input type="radio" name="following" value="no" id="rdo-no-follow">
	{% else %}
		<input type="radio" name="following" value="yes" id="rdo-follow">
		Always receive all replies<br />
		<span class="italic-small">(Default) You will be emailed all replies to any messages on this list.</span><br />
		<input type="radio" name="following" value="no" id="rdo-no-follow" checked>
	{% endif %}
	
	Only receive replies when following the thread<br />
	<span class="italic-small">You will only be emailed replies to a message if you explicitly follow the thread, started the thread, or contribute a message at any point in the thread.</span><br /><br />
		
	<button type="button" id="btn-save-settings" style="margin-top:10px;">Save Settings</button>
	<button type="button" id="btn-cancel-settings" style="margin-top:10px;">Cancel</button>

	</form>
	
		<br /><br />
		     
	<a href="/groups/{{group_info.name}}">Group Info Page</a>
     
      
  </div>
</div>

{% endblock %}

{% block customjs %}
	<script type="text/javascript" src="/static/javascript/my_group_settings.js"></script>
{% endblock %}




