{% extends "squadbox/base.html" %}

{% block customcss %}
    <link rel="stylesheet" type="text/css" href="/static/css/third-party/jquery-ui.min.css">
    <style type="text/css">
        #gmail-list {
            padding-bottom: 1em;
        }
        #gmail-list #email {
            font-style: italic;
            font-size: 90%;
            margin-left: 1em;
            color: #555;
        }
        #gmail-list #frequency {
            font-size: 80%;
            color: #999;
            margin-left: 0.5em;
        }
        #gmail-list #label {
            font-size: 80%;
            border: 0.1em solid;
            border-radius: 0.3em;
            padding: 0.2em;
            margin-left: 1em;
        }
        #gmail-list .label-personal {
            color: #0FAD24;
            border-color: #0FAD24;
        }
        #gmail-list .label-social {
            color: #C824D5;
            border-color: #C824D5;
        }
        #gmail-list .label-updates {
            color: #FF5733;
            border-color: #FF5733;
        }
        #gmail-list .label-forums {
            color: #24A7D5;
            border-color: #24A7D5;
        }
        #gmail-list .label-promotions {
            color: #D5245A;
            border-color: #D5245A;
        }
    </style>
{% endblock %}

{% block content %}

<div class="container">
    <div class="group-container">
        {% if group_name %}
            <p><a href="/gmail_setup?group={{group_name}}">&laquo; Back to start</a></p>
            <h2>Begin Gmail import for {{group_name}}</h2>
            <form action="import" method="post">
                {% csrf_token %}

                <p>Below are your contacts and email addresses you've messaged frequency in the last year. Deselect any you don't want whitelisted, then click "Add to whitelist" below.</p>

                <p>The list of email addresses from your contacts is:</p>

                {% for email in contacts_emails %}
                    <label><input type="checkbox" name="{{email}}" checked> {{email}}</label><br />
                {% endfor %}
                <br />

                <p>The list of people you've received messages from in the past year, sorted by frequency, is:</p>
                <p>Slide to adjust cutoff point by frequency</p>
                <div id="slider"></div>
                <div id="randomdiv"></div>
                <br />
                <div id="gmail-list">
                    {% for email, frequency, name, label in sorted_gmail_list %}
                        <span class="item-freq-{{frequency}}"><label><input type="checkbox" class="freq-{{frequency}}" name="{{email}}" checked> {{name}}</label> <span id="email">{{email}}</span> <span id="label" class="label-{{label}}">{{label}}</span> <span id="frequency">{{frequency}}</span></span><br />
                    {% endfor %}
                </div>
                <p>
                    Add any extra email addresses you wish to whitelist by entering them here. Separate each with a comma (only valid ones will be added).<br />
                    <input type="text" name="custom_email_box" size="70">
                </p>
                <input type="hidden" name="group_name" value="{{group_name}}" />
                <input type="submit" value="Add to whitelist">
                <br /><br />
                <p>* This will (a) add the email addresses above to our whitelist associated with your Squadbox account, so that messages from those addresses sent to your public Squadbox address are forwarded straight onto you with no moderation, and (b) add a filter to your Gmail account that forwards every email sent directly to you that's not from someone on this whitelist to your squad, where it is hidden from you and held for moderation.</p>

            </form>
        {% else %}
            <h3>Invalid request: please start again from the <a href="/my_groups">My Groups</a> page.</h3>
        {% endif %}
    </div>
</div>

{% endblock %}

{% block customjs %}
    <script src="/static/javascript/third-party/jquery-ui.min.js"></script>
    <script>
    var max = {{max_frequency}};
    var min = {{min_frequency}};
    $(document).ready( function() {
        $("#slider").slider({
            max: max,
            min: min,
            value: 0,
            slide: function(event, ui) {
                // TODO: create a map between 0,1,2,... on the slider to the *actual* frequency values that occur, so that one step on the slider always changes some checkboxes
                var current_val = 0;
                while (current_val <= ui.value) {
                    $('.freq-' + current_val.toString()).prop("checked", false);
                    $('.item-freq-' + current_val.toString()).css('opacity', '0.5');
                    current_val++;
                }
                while (current_val <= max) {
                    $('.freq-' + current_val.toString()).prop("checked", true);
                    $('.item-freq-' + current_val.toString()).css('opacity', '1.0');
                    current_val++;
                }
            }
        });

        $(":checkbox").change(function() {
            if(this.checked) {
                $(this).parent().parent().css('opacity', '1.0');
            } else {
                $(this).parent().parent().css('opacity', '0.5');
            }
        });
    });
    </script>
{% endblock %}