{% extends website|add:"/base.html" %}

{% block customcss %}
    <link rel="stylesheet" type="text/css" href="/static/css/third-party/jquery-ui.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/gmail_setup.css">
{% endblock %}

{% block content %}

<div class="container">
    <div class="group-container">
        {% if group_name %}
            <p><a href="/gmail_setup?group={{group_name}}">&laquo; Back to start</a></p>
            <h2>Begin Gmail import for {{group_name}}</h2>
            <form action="import" method="post">
                {% csrf_token %}

                <p>Below are your contacts, and email addresses you've messaged frequently in the last year. Deselect any you don't want whitelisted, then click "Add to whitelist" below.</p>
                {{ contacts_names_emails }}
                {% if contacts_names_emails|length > 0 %}
                    <p>The list of email addresses from your contacts is:</p>
                    <span class="toggle-all"><label><input type="checkbox" id="toggle-all-contacts" checked> TOGGLE ALL</label></span><br />
                    {% for name, email in contacts_names_emails %}
                        <span class="item-contacts"><label><input type="checkbox" class="contacts-checkbox" name="{{email}}" checked> {{name}}</label> <span id="email">{{email}}</span></span><br />
                    {% endfor %}
                {% else %}
                <i>No contacts available.</i>
                {% endif %}
                <br />

                <p>The list of people you've received messages from in the past year, sorted by frequency, is:</p>
                <p>Click on a label to toggle all emails with that label. Move the slider to adjust cutoff point by frequency: <div id="slider"></div></p>

                <div id="tabs" class="gmail-list">
                    <ul>
                        <li><a href="#tabs-1">Personal</a>
                        </li>
                        <li><a href="#tabs-2">Social</a>
                        </li>
                        <li><a href="#tabs-3">Forums</a>
                        </li>
                        <li><a href="#tabs-4">Updates</a>
                        </li>
                        <li><a href="#tabs-5">Promotions</a>
                        </li>
                    </ul>
                    <div id="tabs-1">
                        <span class="toggle-all"><label><input type="checkbox" id="toggle-all-personal" checked> TOGGLE ALL</label></span><br />
                        {% for email, frequency, name, label in sorted_gmail_list %}
                            {% if label == "personal" %}
                                <span class="item-freq-{{frequency}}"><label><input type="checkbox" class="received-checkbox freq-{{frequency}} box-label-{{label}}" name="{{email}}" checked> {{name}}</label> <span id="email">{{email}}</span> <span id="frequency">{{frequency}}</span></span><br />
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div id="tabs-2">
                        <span class="toggle-all"><label><input type="checkbox" id="toggle-all-social" checked> TOGGLE ALL</label></span><br />
                        {% for email, frequency, name, label in sorted_gmail_list %}
                            {% if label == "social" %}
                                <span class="item-freq-{{frequency}}"><label><input type="checkbox" class="received-checkbox freq-{{frequency}} box-label-{{label}}" name="{{email}}" checked> {{name}}</label> <span id="email">{{email}}</span> <span id="frequency">{{frequency}}</span></span><br />
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div id="tabs-3">
                        <span class="toggle-all"><label><input type="checkbox" id="toggle-all-forums" checked> TOGGLE ALL</label></span><br />
                        {% for email, frequency, name, label in sorted_gmail_list %}
                            {% if label == "forums" %}
                                <span class="item-freq-{{frequency}}"><label><input type="checkbox" class="received-checkbox freq-{{frequency}} box-label-{{label}}" name="{{email}}" checked> {{name}}</label> <span id="email">{{email}}</span> <span id="frequency">{{frequency}}</span></span><br />
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div id="tabs-4">
                        <span class="toggle-all"><label><input type="checkbox" id="toggle-all-updates" checked> TOGGLE ALL</label></span><br />
                        {% for email, frequency, name, label in sorted_gmail_list %}
                            {% if label == "updates" %}
                                <span class="item-freq-{{frequency}}"><label><input type="checkbox" class="received-checkbox freq-{{frequency}} box-label-{{label}}" name="{{email}}" checked> {{name}}</label> <span id="email">{{email}}</span> <span id="frequency">{{frequency}}</span></span><br />
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div id="tabs-5">
                        <span class="toggle-all"><label><input type="checkbox" id="toggle-all-promotions" checked> TOGGLE ALL</label></span><br />
                        {% for email, frequency, name, label in sorted_gmail_list %}
                            {% if label == "promotions" %}
                                <span class="item-freq-{{frequency}}"><label><input type="checkbox" class="received-checkbox freq-{{frequency}} box-label-{{label}}" name="{{email}}" checked> {{name}}</label> <span id="email">{{email}}</span> <span id="frequency">{{frequency}}</span></span><br />
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>

                <p>
                    Add any extra email addresses you wish to whitelist by entering them here. Separate each with a comma (only valid ones will be added).<br />
                    <input type="text" name="custom_email_box" size="70">
                </p>
                <input type="hidden" name="group_name" value="{{group_name}}" />
                <input type="submit" value="Add to whitelist">
                <br /><br />
                {% if website == "murmur" %}
                    <p>* This will add the email addresses above to our the whitelist for this Murmur mailing list, so that messages from those addresses are forwarded straight through to list members with no moderation.</p>
                {% elif website == "squadbox" %}
                    <p>* This will (a) add the email addresses above to our whitelist associated with your Squadbox account, so that messages from those addresses sent to your public Squadbox address are forwarded straight onto you with no moderation, and (b) add a filter to your Gmail account that forwards every email sent directly to you that's not from someone on this whitelist to your squad, where it is hidden from you and held for moderation.</p>
                {% endif %}

            </form>
        {% else %}
            <h3>Invalid request: please start again from the <a href="/my_groups">My Groups</a> page.</h3>
        {% endif %}
    </div>
</div>

{% endblock %}

{% block customjs %}
    <script src="/static/javascript/third-party/jquery-ui.min.js"></script>
    <script>
        var max = {{max_frequency}};
        var min = {{min_frequency}};
        var slider_max = {{frequency_list|length}};
        var map = new Object();
        var i=1;
        {% for freq in frequency_list %}
            map[i] = {{freq}}
            i++;
        {% endfor %}
    </script>
    <script src="/static/javascript/gmail_setup.js"></script>
{% endblock %}