Your Google credentials are up to date.<br /><br />
 
{% if contacts_emails and gmail_emails %}

<form action="">

The list of email addresses from your contacts is: <br />

{% for email in contacts_emails %}
    <label><input type="checkbox" value="{{ email }}" checked>{{email}}</label><br />
{% endfor %}

<br />

The list of email addresses you've sent messages to in the past year, sorted by frequency, is: <br />

{%for email in gmail_emails %}
    <label><input type="checkbox" value="{{ email }}" checked>{{email}}</label><br />
{% endfor %}

<input type="submit" name="btn-submit-emails">

</form>

{% endif %}