{% extends "base.html" %}

{% block customcss %}
	<link href="/static/css/third-party/datatable.css" rel="stylesheet">
{% endblock %}

{% block content %}

<div class="container">
  <div class="group-container">
  	
	{% if group_info.subscribed %}
		<span class="member label">Member</span>
	{% else %}
		<span class="member label" style="display: none;"></span>
	{% endif %}
  	
  	{% if group_info.admin %}
		<span class="admin label">Admin</span>
	{% else %}
		<span class="admin label" style="display: none;"></span>
	{% endif %}
	
	{% if group_info.moderator %}
		<span class="mod label">Mod</span>
	{% else %}
		<span class="mod label" style="display: none;"></span>
	{% endif %}
	
     <h3><span id="group-name">{{ group_info.group.name }}</span></h3>

     <hr />
     	{% if group_info.group.description == "" %}
     		<span class="italic-med">No description</span>
     	{% else %}
			<span class="italic-med">{{ group_info.group.description }}</span>
		{% endif %}
		
		<br /><br />
		
		This group is <span class="strong">
		{% if group_info.group.public %}
			Public{% else %}
			Private{% endif %}</span>.
		<br />

		{% if not group_info.group.allow_attachments %}
			<span class="strong">No Attachments</span> are allowed.
		{% else %}
			Attachments <span class="strong">are allowed</span>.
		{% endif %}
		<br />
		<br />
		
		<a href="/posts?group_name={{ group_info.group.name }}">View Posts</a> <br /> <br />
	
			<div id="group-options">
				{% if group_info.subscribed %}
					<button type="button" id="btn-edit-settings">Edit My Settings</button>
					{% if group_info.admin %}
						<button type="button" id="btn-edit-group-info">Edit Group Information</button>
					{% endif %}
					<br /><br />
				{% else %}
					<button type="button" id="btn-edit-settings" style="display: none;">Edit My Settings</button>
				{% endif %}
				
				{% if group_info.admin %}
					{% if group_info.group.active %}
						<button type="button" id="btn-deactivate-group">De-Activate</button>
						<button type="button" id="btn-activate-group" style="display: none;">Activate</button>
					{% else %}
						<button type="button" id="btn-deactivate-group" style="display: none;">De-Activate</button>
						<button type="button" id="btn-activate-group">Activate</button>
					{% endif %}
				{% else %}
					<button type="button" id="btn-deactivate-group" style="display: none;">De-Activate</button>
					<button type="button" id="btn-activate-group" style="display: none;">Activate</button>
				{% endif %}
				
				{% if group_info.subscribed %}
					<button type="button" id="btn-unsubscribe-group">Un-Subscribe</button>
					<button type="button" id="btn-subscribe-group" style="display: none;">Subscribe</button>
				{% else %}
					<button type="button" id="btn-unsubscribe-group" style="display: none;">Un-Subscribe</button>
					<button type="button" id="btn-subscribe-group">Subscribe</button>
				{% endif %}
			</div>
			<br />
			<hr />

			<h3>Members List</h3> 
			{% if group_info.admin %}
				<button type="button" id="btn-add-members">Add Members</button>
				<button type="button" id="btn-del-members">Delete Members</button>
				<button type="button" id="btn-set-admin">Set as Admin</button>
			    <button type="button" id="btn-set-mod">Set as Moderator</button>
			{% else %}
				<button type="button" id="btn-add-members" style="display: none;">Add Members</button>
			{% endif %}
			
			<table id="members-table" class="display" cellspacing="0" width="100%">
				<thead>
					<tr>
						{% if group_info.admin %}
						<th>Select</th>
						<th>Email</th>
						{% if flavour != "mobile" %}
							<th>Joined</th>
							<th>Admin</th>
							<th>Moderator</th>
						{% endif %}
					{% else %}
						<th>Email</th>
						{% if flavour != "mobile" %}
							<th>Joined</th>
							<th>Admin</th>
							<th>Moderator</th>
						{% endif %}
					{% endif %}
					</tr>
				</thead>
				
				<tfoot>
					<tr>
						{% if group_info.admin %}
						<th>Select</th>
						<th>Email</th>
						{% if flavour != "mobile" %}
							<th>Joined</th>
							<th>Admin</th>
							<th>Moderator</th>
						{% endif %}
					{% else %}
						<th>Email</th>
						{% if flavour != "mobile" %}
							<th>Joined</th>
							<th>Admin</th>
							<th>Moderator</th>
						{% endif %}
					{% endif %}
					</tr>
				</tfoot>
				
				<tbody>
					{% for member in group_info.members %}
					
					{% if member.email == user.email %}
						<tr class="my_row">
					{% else %}
						<tr>
					{% endif %}
						
						{% if group_info.admin %}
						<td><input class="checkbox checkbox-user" type="checkbox" id ={{ member.id }}></td>
						<td>{{ member.email }}</td>
						{% if flavour != "mobile" %}
							<td>{{ member.joined }}</td>
							{% if member.admin %}
							<th><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></th>
							{% else %}
							<th></th>
							{% endif %}
							{% if member.mod %}
							<th><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></th>
							{% else %}
							<th></th>
							{% endif %}
						{% endif %}
					</tr>
						{% else %}
						<td>{{ member.email }}</td>
						{% if flavour != "mobile" %}
							<td>{{ member.joined }}</td>
							{% if member.admin %}
							<th><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></th>
							{% else %}
							<th></th>
							{% endif %}
							{% if member.mod %}
							<th><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></th>
							{% else %}
							<th></th>
							{% endif %}
						{% endif %}
					</tr>
						{% endif %}
					{% endfor %}
				</tbody>
			</table>	

			<br />
			<hr />

			<h3>Associated Mailing Lists</h3> 
			{% if group_info.admin %}
<!-- 				<button type="button" id="btn-add-list">Add List</button> -->
				<select id='actionSelect'>
					<option selected="true" style="display:none;">Actions</option>
					<option value="addList">Add a new list...</option>
					<option value="deleteList">Delete</option>
					<option value="addPost">Make Poster</option>
					<option value="addReceive">Make Recipient</option>
					<option value="removePost">Remove as Receipient</option>
					<option value="removeReceive">Remove as Poster</option>
				</select>
				<!-- <button type="button" id="btn-add-list" style="display: none;">Add List</button> -->
			{% endif %}
			
			<table id="lists-table" class="display" cellspacing="0" width="100%">
				<thead>
					<tr>
						{% if group_info.admin %}
						<th>Select</th>
						<th>Email</th>
						{% if flavour != "mobile" %}
							<th>Added</th>
							<th>Can Post</th>
							<th>Can Receive</th>
						{% endif %}
					{% else %}
						<th>Email</th>
						{% if flavour != "mobile" %}
							<th>Added</th>
							<th>Can Post</th>
							<th>Can Receive</th>
						{% endif %}
					{% endif %}
					</tr>
				</thead>
				
				<tfoot>
					<tr>
						{% if group_info.admin %}
						<th>Select</th>
						<th>Email</th>
						{% if flavour != "mobile" %}
							<th>Added</th>
							<th>Can Post</th>
							<th>Can Receive</th>
						{% endif %}
					{% else %}
						<th>Email</th>
						{% if flavour != "mobile" %}
							<th>Added</th>
							<th>Can Post</th>
							<th>Can Receive</th>
						{% endif %}
					{% endif %}
					</tr>
				</tfoot>
				
				
				<tbody>
					{% for l in group_info.lists %}
					<tr>
						{% if group_info.admin %}
						<td><input class="checkbox checkbox-list" type="checkbox" id ={{ l.id }}></td>
						<td>{{ l.email }}</td>
						{% if flavour != "mobile" %}
							<td>{{ l.added }}</td>
							{% if l.can_post %}
							<th><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></th>
							{% else %}
							<th></th>
							{% endif %}
							{% if l.can_receive %}
							<th><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></th>
							{% else %}
							<th></th>
							{% endif %}
						{% endif %}
					</tr>
						{% else %}
						<td>{{ l.email }}</td>
						{% if flavour != "mobile" %}
							<td>{{ l.added }}</td>
							{% if l.can_post %}
							<th><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></th>
							{% else %}
							<th></th>
							{% endif %}
							{% if l.can_receive %}
							<th><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></th>
							{% else %}
							<th></th>
							{% endif %}
						{% endif %}
					</tr>
						{% endif %}
					{% endfor %}
				</tbody>
			</table>	



  </div>
</div>

{% endblock %}

{% block customjs %}

<script type="text/javascript" src="/static/javascript/group_page.js"></script>

{% endblock %}




