{% extends "base.html" %}
{% block headlink-right %}
 <a href="#" data-dropdown="#dropdown-nav">{{ user }} ▾ </a>
{% endblock %}
{% block content %}
<div id="left-column-area-wrapper">
<div id="left-column-area">
    <input type="text" name="group-name" id="text-create-group" style="width:55%; margin-left:5px; max-height:25px;" class="default-text" title="new-group-name"/>
	<button type="button" id="btn-create-group" style="width:30%; left:60%; margin-right:5px; margin-bottom:5px;margin-top:5px; max-height:25px;">Create</button>
	<table id="groups-table" class="dataTable">
		<thead>
			<tr>
				<th>All Groups</th>
			</tr>
		</thead>
	</table>
</div>
</div>

<div id="main-area-wrapper">
<div id="main-area">
	<div id="group-display-area" class="main-area-content" style="display:none;">
	<div id="group-info">
	</div>
	<div id="group-options">
		<button type="button" id="btn-activate-group">Activate</button>
		<button type="button" id="btn-deactivate-group">De-Activate</button>
		<button type="button" id="btn-subscribe-group">Subscribe</button>
		<button type="button" id="btn-unsubscribe-group">Un-Subscribe</button>
	</div>
	<br />
	<h3>Members List</h3>
	<hr />
	<table id="members-table" class="dataTable">
		<thead>
			<tr>
				<th>Email</th>
				<th>Active</th>
				<th>Admin</th>
				<th>Moderator</th>
				<th>Member</th>
				<th>Guest</th>
			</tr>
		</thead>
	</table>	
</div>	
</div>
</div>
{% endblock %}





