{% extends "base.html" %}

{% block customcss %}
	<link href="/static/css/group_info.css" rel="stylesheet">
{% endblock %}

{% block content %}

<div class="container">
  <div class="group-container">
  	
     <h3>{{ group_info.group.name }}</h3>
     <hr />
		<span class="italic-small">{{ group_info.group.description }}</span><br />
		
			<div id="group-options">
				<button type="button" id="btn-activate-group">Activate</button>
				<button type="button" id="btn-deactivate-group">De-Activate</button>
				<button type="button" id="btn-subscribe-group">Subscribe</button>
				<button type="button" id="btn-unsubscribe-group">Un-Subscribe</button>
			</div>
			<br />
			<h3>Members List</h3> 
			<button type="button" id="btn-add-members">Add Members</button>
			<hr />
			<table id="members-table" class="display" cellspacing="0" width="100%">
				<thead>
					<tr>
						<th>Email</th>
						<th>Joined</th>
						<th>Admin</th>
						<th>Moderator</th>
					</tr>
				</thead>
				
				<tfoot>
					<tr>
						<th>Email</th>
						<th>Joined</th>
						<th>Admin</th>
						<th>Moderator</th>
					</tr>
				</tfoot>
				
				<tbody>
					{% for member in group_info.members %}
					<tr>
						<td>{{ member.email }}</td>
						<td>{{ member.joined }}</td>
						<td>{{ member.admin }}</td>
						<td>{{ member.mod }}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>	



  </div>
</div>

{% endblock %}

{% block customjs %}

<script type="text/javascript" src="/static/javascript/group_page.js"></script>

{% endblock %}




