{% extends "base.html" %}

	{% block customcss %}
	<style>
		body { 
			background: url(/static/images/murmurations/4227243_a0587ccefe_o.jpg) no-repeat center center fixed; 
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
			background-size: cover;
		}
		</style>
	{% endblock %}

{% block content %}

<div class="container">
  <div class="home-left">
  	
     <h3>Welcome to Murmur!</h3>
     <hr />
	<div>
		<a href="{% url "django.contrib.auth.views.login" %}">Login</a>
	</div>
	<div>
		<a href="{% url "registration_register" %}">Register</a>
	</div>
  </div>
</div>
	
<div id="image-attrib">

</div>

{% endblock %}

{% block customjs %}

<script type="text/javascript" src="/static/javascript/home.js"></script>

{% endblock %}