{% extends "base.html" %}
{% block headlink-left %}
MailX
{% endblock %}
{% block headlink-right %}
<a href="#" data-dropdown="#dropdown-nav">{{ user }} ▾ </a>
{% endblock %}
{% block content %}
<script type="text/javascript" src="/static/javascript/third-party/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/static/javascript/main.js"></script>
<div id="left-column-area">
    <select name="group-name" id="list-create-group" style="width:60%; float:left;"></select>
	<button type="button" id="btn-create-new-post" style="width:30%; float:right;">New Post</button>
	<table id="msg-thread-list" class="dataTable">
	</table>	
</div>
<div id="main-area" style="display:none">
	
</div>
{% endblock %}





