{% extends "group_container_base.html" %}
{% block container-content %}
	<div id="post-column-area-wrapper">
		<div id="post-column-area">
			
			<h3>My {{ group_or_squad | title }}s</h3>
			
			<div class="post-list-container">
				
				{% if active_group.name != "No Groups Yet" %}
					<a href="/create_new_group"><button type="button" id="btn-create-group">+ New {{ group_or_squad | title }}</button></a>
					{% if website == 'murmur' %}
					<input type="text" id="text-search-group" class="default-text" placeholder="Search within {{group_or_squad}}s" title="Search within {{group_or_squad}}s"/>
					{% endif %}
				{% else %}
					<i>You are not in any {{ group_or_squad }}s yet. <a href="/group_list">Join or create a new {{ group_or_squad }}.</a>
					</i>
				{% endif %}
			</div>
			
			<ul id="post-list-table">
				{% for group, link in pairs %}
					{% if website == 'murmur' %}
					<a href="/groups/{{ group.name }}">
					{% elif website == 'squadbox' %}
					<a href="{{ link }}">
					{% endif %}
						<li class="row-item" id="{{ group.name }}">
							<span class="strong">{{ group.name }}</span>
							{% if group.admin %}
								<span class="admin label">
								{% if website == 'murmur' %}
								Admin
								{% elif website == 'squadbox' %}
								owner
								{% endif %}
								</span>
							{% endif %}
							{% if group.mod %}
								{% if website == 'murmur' %}
								Mod
								{% elif website == 'squadbox' %}
								mod
								{% endif %}
							{% endif %}
							<br>
							<span class="italic-med">{{ group.desc }}</span></li>
						</a>
					{% endfor %}
				</ul>
			</div>
		</div>
	{% endblock %}