{% extends "base.html" %}
{% block headlink-right %}
<a href="#" data-dropdown="#dropdown-nav">{{ user }} ▾ </a>
{% endblock %}
{% block content %}
<div id="left-column-area-wrapper">
<div id="left-column-area">
    <button type="button" id="btn-create-new-post" style="margin: 5px auto 5px auto; text-align:center; display:block; max-height:25px;">+ New Post</button>
	<table id="posts-table" class="dataTable">
		<thead>
			<tr>
				<th>All Posts</th>
			</tr>
		</thead>
	</table>	
</div>
</div>

<div id="main-area-wrapper">
<div id="main-area">
	<div class="main-area-content welcome">
		
	</div>
</div>
</div>
{% endblock %}





