{% extends "base.html" %}
{% block headlink-right %}
<a href="#" data-dropdown="#dropdown-nav">{{ user }} ▾ </a>
{% endblock %}
{% block content %}
<div id="left-column-area-wrapper">
<div id="left-column-area">
	<div class="container">
    	<input type="text" id="text-search-post" style="width:55%; max-height:25px;" class="default-text" title="Search"/>
	<button type="button" id="btn-create-new-post" style="margin: 0px; text-align:center; width:30%;">+ New Post</button>
	</div>
	<table id="posts-table" class="dataTable">
		<thead>
			<tr>
				<th>All Posts</th>
			</tr>
		</thead>
	</table>	
</div>
</div>

<div id="main-area-wrapper">
<div id="main-area">
	<div class="main-area-content">
	<img src="/static/images/no-img-selected.png" style="margin:0px auto; display: block;"></img>	
	</div>
</div>
</div>
{% endblock %}





