{% extends "base.html" %}

{% block content %}

<div id="left-column-area-wrapper">
<div id="left-column-area">
	<div class="post-container">
		
		<button type="button" id="btn-create-new-post">+ New Post</button>
    	<input type="text" id="text-search-post" class="default-text" value="Search within posts" title="Search within posts"/>
	
	</div>
	<ul id="posts-table" class="table">
	</ul>	
</div>
</div>

<div id="main-area-wrapper">
<div id="main-area">
	<div class="main-area-content">
	<img src="/static/images/no-img-selected.png" style="margin:0px auto; display: block; width: 50%;"></img>	
	</div>
</div>
</div>
{% endblock %}





