{% extends "base.html" %}
{% block headlink-left %}
<span class="name">Welcome, {{ user }}!</span>
{% endblock %}
{% block headlink-right %}
 <a href="index">Home</a> | <a href="logout">Log out</a>
{% endblock %}
{% block content %}
<script type="text/javascript" src="/static/javascript/third-party/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/static/javascript/main.js"></script>
<div id="left-column-area">
	<table id="groups-table" class="dataTable">
		<thead>
			<tr>
				<th>Groups</th>
			</tr>
		</thead>
	</table>	
</div>
<div id="main-area">
	<div id="group-options"></div>
	<table id="members-table" class="dataTable" style="display:none">
		<thead>
			<tr>
				<th>Member</th>
				<th>Active</th>
				<th>Admin</th>
				<th>Moderator</th>
				<th>Member</th>
				<th>Guest</th>
			</tr>
		</thead>
	</table>	
</div>
{% endblock %}





