{% extends "base.html" %}
{% block headlink-left %}
<span class="name">Welcome, {{ user }}!</span>
{% endblock %}
{% block headlink-right %}
 <a href="index">Home</a> | <a href="logout">Log out</a>
{% endblock %}
{% block content %}
<script type="text/javascript" src="/static/javascript/third-party/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/static/javascript/main.js"></script>
<div id="left-column-area">
	<button type="button" id="btn-create-group">Create New Group</button>
	<table id="groups-table" class="dataTable">
		<thead>
			<tr>
				<th>All Groups</th>
			</tr>
		</thead>
	</table>	
</div>
<div id="main-area" style="display:none">
	<div class="box">
	<div id="group-info">
	</div>
	<h3>Actions</h3>
	<hr />
	<div id="group-options">
		<a id="btn-act-group" href="#">Activate</a> <br />
		<a id="btn-deact-group" href="#">De-Activate</a> <br />
		<a id="btn-sub-group" href="#">Subscribe</a> <br />
		<a id="btn-unsub-group" href="#">Un-Subscribe</a>
	</div>
	</div>
	<br />
	<h3>Members List</h3>
	<hr />
	<table id="members-table" class="dataTable">
		<thead>
			<tr>
				<th>Member</th>
				<th>Active</th>
				<th>Admin</th>
				<th>Moderator</th>
				<th>Member</th>
				<th>Guest</th>
			</tr>
		</thead>
	</table>	
	
</div>
{% endblock %}





