{% extends "base.html" %}

{% block customcss %}
{% endblock %}

{% block content %}

<div class="container">
  <div class="group-container">
	
	{% if res.status %}
		You've {{ type }} the group "{{ group_name }}". Emails will be sent to the following email: {{ email }}.
		<BR>
		<BR>
		View <a href="/groups/{{ group_name }}">{{ group_name }}</a> group information.
		<BR>
		<BR>
		{% if type == 'unsubscribed from' %}
		<form action="/subscribe_get?">
			<input type='hidden' name='group_name' value={{group_name}}>
    		<input type="submit" value="Re-subscribe">
		</form>
		{% else %}
		<form action="/unsubscribe_get?">
			<input type='hidden' name='group_name' value={{group_name}}>
    		<input type="submit" value="Unsubscribe">
		</form>
		{% endif %}
	{% else %}
		Sorry, there was an error: {{ res.code }}.
	{% endif %}
	<BR>
	<BR>
  </div>
</div>

{% endblock %}


