{% extends website|add:"/base.html" %}
{% block customcss %}

<link rel="stylesheet" href="/static/css/youps/libs/codemirror.css">
<!-- <link rel="stylesheet" href="/static/css/youps/libs/fontawesome-all.min.css"> -->
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"> -->
<!-- Interactive console styles -->
<!-- <link rel="stylesheet" href="/static/css/youps/libs/sandbox.css" /> -->

<link rel="stylesheet" href="/static/css/youps/libs/jquery.switchButton.css" />
<link rel="stylesheet" href="https://get.mavo.io/mavo.css" />
<link rel="stylesheet" href="/static/css/youps/libs/prism.css">
<link rel="stylesheet" href="/static/css/youps/style.css">

{% endblock %}

{% block content %}


    <div class="container" style="width:280px;  position:fixed; top: 50px;">
        <div class="group-container">
            <ul class="sidebar-list" style="list-style-type: none; padding-inline-start: 0px;">
                <li>
                  <a href="#getter-header"> Retreive metadata of an email </a>
		  
                    <ul class="sidebar-list" style="list-style-type: none;">
                        <li><a href="#get_content"> get_content </a> </li>
                        <li><a href="#get_date"> get_date </a> </li>
                        <li><a href="#get_gmail_labels"> get_gmail_labels </a> </li>
                        <li><a href="#get_labels"> get_labels </a> </li>
                        <li><a href="#get_sender"> get_sender </a> </li>
                        <li><a href="#get_subject"> get_subject </a> </li>
                        <li><a href="#get_recipients"> get_recipients </a> </li>
                    </ul>
                </li>

                <li>
                  <a href="#method-header"> Action on an email </a>
                    <ul class="sidebar-list" style="list-style-type: none;">
                        <li><a href="#add_gmail_labels"> add_gmail_labels </a> </li>
                        <li><a href="#add_labels"> add_labels </a> </li>
                        <li><a href="#copy"> copy </a> </li>
                        <li><a href="#delete"> delete </a> </li>
                        <li><a href="#mark_read"> mark_read </a> </li>
                        <li><a href="#move"> move </a> </li>
                        <li><a href="#remove_gmail_labels"> remove_gmail_labels </a> </li>
                        <li><a href="#remove_labels"> remove_labels </a> </li>
                        <li><a href="#send"> send </a> </li>
                    </ul>
                </li>

                <li>
                    <a href="#folder-header"> Action on a folder </a>
                    <ul class="sidebar-list" style="list-style-type: none;">
                        <li><a href="#create_folder"> create_folder </a> </li>
                        <li><a href="#delete_folder"> delete_folder </a> </li>
                        <li><a href="#list_folders"> list_folders </a> </li>
                        <li><a href="#rename_folder"> rename_folder </a> </li>
                    </ul>
                </li>

                <li>
                    <a href="#mode-header"> Manage your email mode </a>
                    <ul class="sidebar-list" style="list-style-type: none;">
                        <li><a href="#get_history"> get_history </a> </li>
                        <li><a href="#get_mode"> get_mode </a> </li>
                        <li><a href="#set_mode"> set_mode </a> </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div class="container" style="margin-top:0; margin-left:280px;">
        <div class="group-container" style="overflow-y: scroll;">
            <p hidden id="website-name">{{website}}</p>

            <h3>API docs</h3>
            <a href="/editor">Back to editor</a>
			<hr>
            <main 
            mv-app="api"
            mv-storage="https://github.com/soyapark/murmur"
            mv-unauthenticated-permissions="read"
            mv-autosave="0"
            mv-server-push="true">
                <div id="getter-header" style="padding-top: 50px; margin-top: -50px; margin-bottom: 50px"> <a href="#getter-header"> <h3> Retreive metadata of an email</h3> </a> </div>
                <div id="[name]" property="getter" mv-multiple style="padding-top: 50px; margin-top: -50px;">
                  <a href="#[name]"> <h4>[name] ([params]) </h4> </a>
                    <!-- <h4>[name] ([params]) / [thread] ([thread_params])</h4> -->
                    <p style="margin:0;">[description]</p>
                    <pre class="language-python" style="background-color: transparent;border: 0;margin:0;">
                        <code class="language-python" property="example" mv-multiple>
                            <!-- <h6 property="line"></g6> -->
                        </code>
                    </pre>
                </div>
                <br>
                <div id="method-header" style="padding-top: 50px; margin-top: -50px; margin-bottom: 50px"> <a href="#method-header"> <h3> Action on an email</h3> </a> </div>
                <div id="[name]" property="methods" mv-multiple style="padding-top: 50px; margin-top: -50px;">
                   <a href="#[name]"> <h4>[name] ([params]) </h4> </a>
                    <!-- <h4>[name] ([params]) / [thread] ([thread_params])</h4> -->
                    <p style="margin:0;">[description]</p>
                    <pre class="language-python" style="background-color: transparent;border: 0;margin:0;">
                        <code class="language-python" property="example" mv-multiple>
                            <!-- <h6 property="line"></g6> -->
                          </code>
                    </pre>
                </div>
                <br>
                <div id="folder-header" style="padding-top: 50px; margin-top: -50px; margin-bottom: 50px"> <a href="folder-header"> <h3> Action on a folder</h3> </a> </div>
                <div id="[name]" property="folder" mv-multiple style="padding-top: 50px; margin-top: -50px;">
                    <a href="#[name]"> <h4>[name] ([params]) </h4> </a>
                    <p style="margin:0;">[description]</p>
                    <pre class="language-python" style="background-color: transparent;border: 0;margin:0;">
                            <code class="language-python" property="example" mv-multiple>
                                <!-- <h6 property="line"></g6> -->
                              </code>
                        </pre>
                </div>
                <div id="mode-header" style="padding-top: 50px; margin-top: -50px; margin-bottom: 50px"> <a href="#mode-header"> <h3> Manage your email mode</h3> </a> </div>
                <div id="[name]" property="mode" mv-multiple style="padding-top: 50px; margin-top: -50px;">
                    <a href="#[name]"> <h4>[name] ([params]) </h4> </a>
                    <p style="margin:0;">[description]</p>
                    <pre class="language-python" style="background-color: transparent;border: 0;margin:0;">
                            <code class="language-python" property="example" mv-multiple>
                                <!-- <h6 property="line"></g6> -->
                              </code>
                        </pre>
                </div>
            </main>
        </div>
    </div>

{% endblock %}

{% block customjs %}
	<script type="text/javascript" src="/static/javascript/notify.js"></script>

	<script type="text/javascript" src="/static/javascript/youps/bootstrap.bundle.min.js"></script>
	<script type="text/javascript" src="/static/javascript/youps/fontawesome-all.min.js"></script>
	<script type="text/javascript" src="/static/javascript/youps/codemirror.js"></script>
	<script type="text/javascript" src="/static/javascript/youps/addon/edit/matchbrackets.js"></script>
	<script type="text/javascript" src="/static/javascript/youps/python.js"></script>

	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.5/require.min.js"></script>
	
	<!-- Underscore, Backbone, backbone-localStorage, jQuery -->
	<script type="text/javascript" src="/static/javascript/youps/console/underscore.min.js"></script>
	<script type="text/javascript" src="/static/javascript/youps/console/backbone.min.js"></script>
	<script type="text/javascript" src="/static/javascript/youps/console/backbone-localStorage.min.js"></script>
	
	<!-- Some extras for the demo: -->
	<script type="text/javascript" src="/static/javascript/youps/console/lettering.js"></script>
	<script type="text/javascript" src="/static/javascript/youps/console/prettify.js"></script>
	<script type="text/javascript" src="/static/javascript/youps/console/DAT.GUI.min.js"></script>

    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"></script>
    
    <script type="text/javascript" src="/static/javascript/youps/prism.js"></script>
	<script type="text/javascript" src="/static/javascript/youps/jquery.switchButton.js"></script>
	
	<!-- The JS Sandbox Console script (requires underscore, backbone and jquery): -->
	<!-- <script type="text/javascript" src="/static/javascript/youps/console/sandbox-console.js"></script> -->

    <script src="https://get.mavo.io/mavo.js"></script>
    
    <script>
        document.addEventListener("mv-load", function(){
            init_syntax();
        });
    </script>
{% endblock %}
