{% extends website|add:"/base.html" %}
{% block customcss %}
<link rel="stylesheet" href="/static/css/youps/libs/codemirror.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap.min.css">
<!-- <link rel="stylesheet" href="/static/css/youps/libs/fontawesome-all.min.css"> -->
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"> -->
<!-- Interactive console styles -->
<!-- <link rel="stylesheet" href="/static/css/youps/libs/sandbox.css" /> -->
<link rel="stylesheet" href="/static/css/youps/style.css">
<link rel="stylesheet" href="/static/css/youps/libs/jquery.switchButton.css" />
<link rel="stylesheet" href="/static/css/youps/libs/show-hint.css" />
{% endblock %}

{% block content %}
	<div id="loading-wall">
		{% if imap_authenticated %}
		{% else %}
			<span style='display:none;top: 300px;position: fixed;'>We are initializing your inbox! Will email you when it is ready!</span>
		{% endif %}
	</div>
	<div class="sk-circle">
			<div class="sk-circle1 sk-child"></div>
			<div class="sk-circle2 sk-child"></div>
			<div class="sk-circle3 sk-child"></div>
			<div class="sk-circle4 sk-child"></div>
			<div class="sk-circle5 sk-child"></div>
			<div class="sk-circle6 sk-child"></div>
			<div class="sk-circle7 sk-child"></div>
			<div class="sk-circle8 sk-child"></div>
			<div class="sk-circle9 sk-child"></div>
			<div class="sk-circle10 sk-child"></div>
			<div class="sk-circle11 sk-child"></div>
			<div class="sk-circle12 sk-child"></div>
	</div>
	<div class="container">
		<div class="group-container">
			<p hidden id="website-name">{{website}}</p>

			<h3>YoUPS Rule Sandbox</h3>
			<a href="/docs" style="float: right;margin-top: -30px;">View API docs</a>
			<hr>
			
			<form id="login-email-form">
				<!-- <label for="input-email">Email address: </label>
				<input id="input-email" type="email" style="box-sizing: border-box;"></input>
				<br> -->
				{% if user.is_authenticated %}
					{% if imap_authenticated %}

					{% else %}
						<div id="password-container">
								<input type="radio" name="auth-mode" value="oauth" id="rdo-oauth"><label for="rdo-oauth">Oauth </label>
								<input type="radio" name="auth-mode" value="plain" id="rdo-plain" checked><label for="rdo-plain">Plain password </label>
								<br>
								<a class="btn btn-info oauth" style="color:white;" target="_blank" href="https://accounts.google.com/o/oauth2/auth?client_id=1035128514395-ljeutpptbag8unpv2lgo1k93eiq006f6.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&response_type=code&scope=https%3A%2F%2Fmail.google.com%2F">Get access code</a>
								<label class="plain" for="input-password">Password: </label>
								<input class="plain" id="input-password" type="password" style="box-sizing: border-box;"></input>
								<label class="oauth" for="input-access-code">Access code: </label>
								<input class="oauth" id="input-access-code" type="text" style="box-sizing: border-box;"></input>
								<label for="input-host">Host (e.g. imap.xxx .. ): </label>
								<input id="input-host" type="text" style="box-sizing: border-box;"></input>
								<br><br>
								<div style="diplay:none;color:red;" id="donotsend-msg"></div>
								<p class="plain">Before you log in, go to <a id="link-less-secure">"Less secure apps" section of my Account.</a> And Enable less secure log in.</p>
						</div>
						<button type="button" id="btn-login" style="margin-top:10px;">Log in to your email</button>
					{% endif %}
				{% else %}
					<a type="button" href="/accounts/login/?next=/editor" style="margin-top:10px;">Log in to YoUPS</a> or <a type="button" href="/accounts/register/?next=/editor" style="margin-top:10px;">Create a new YoUPS account</a> to start!
				{% endif %}
			</form>
			<div id="editor-container">
					<div>
					  <div class="card">
						<div class="card-header">
							<div id="status">
								<div class="dropdown" style="display: inline;">
									<label style="font-size: medium;">Mode: </label>
									<button class="btn btn-default dropdown-toggle" type="button" id="current_mode_dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" mode-id="0">Default <span class="caret"></span></button>
									<ul class="dropdown-menu" aria-labelledby="current_mode_dropdown">
										<!-- This will be replaced by js -->
										<li><a href="#" data-value="action">Action</a></li>
									</ul>
								</div>
								{% if imap_authenticated %}						
								<button type="button" class="btn btn-lg btn-toggle" data-toggle="button" aria-pressed="false" autocomplete="off">
										<div class="handle"></div>
									  </button>
								{% else %}
								<button type="button" class="btn btn-lg btn-toggle" data-toggle="button" aria-pressed="false" autocomplete="off" disabled>
										<div class="handle"></div>
									  </button>
								{% endif %}
							</div>
						</div>
						<div class="card-block">
							{% if mode_exist %}
								<ul class="nav nav-tabs" role="tablist">
									{% for mode in modes %}
										{% if current_mode == mode %}
											<li class="active">	
										{% else %}
											<li>
										{% endif %}
											<a href="#tab_{{mode.uid}}" data-toggle="tab">
													<span class="tab-title" mode-id={{ mode.uid }}>
													{{ mode.name }} ({{ mode.uid }})
													</span>
													<i class="fas fa-pencil-alt"></i>
												</a><span class="close">x</span>
											</li>
									{% endfor %}
									<li><a href="#" class="add-tab">+ Add Mode</a></li>
								</ul>
								<div class="tab-content">
									{% for mode in modes %}
										{% if current_mode == mode %}
											<div class="tab-pane active" id="tab_{{mode.uid}}">
										{% else %}
											<div class="tab-pane" id="tab_{{mode.uid}}">
										{% endif %}	
												<div class='editable-container' type='new-message'>
													{% for rule in rules %}
														{% if rule.mode == mode and rule.type == "new-message" %}
															<div rule-id={{rule.uid}} class="panel panel-success">
																<div class="flex_container">
																	<div class="flex_item_left"> 
																		<i class="fas fa-3x fa-trash"></i> 
																	</div>

																	<div class="flex_item_right panel-heading panel-collapsed">
																		<h3 class="panel-title">
																			<span class="fa-layers fa-fw fa-2x"> 
																				<i class="far fa-envelope"></i>
																				<span class="fa-layers-counter" style="background:Tomato">NEW</span>
																			</span>
																		New message <span class="preview-folder"></span></h3>
																		<span class="pull-right">
																			<i class="fas fa-chevron-up" style="display:none;"></i><i class="fas fa-chevron-down"></i>
																		</span>
																	</div>
																</div>
																<div class="panel-body" style="display:none;">
																	<div class="folder-container"></div>
																	<div class="editor-container">
																		<textarea class="editor mode-editor" id="editor-{{mode.uid}}">
{{ rule.code }}
																		</textarea>
																	</div>
																</div>
															</div>
														{% endif %}	
													{% endfor %}
												</div>

												<div class='editable-container' type='repeat'>
													{% for rule in rules %}
														{% if rule.mode == mode and rule.type == "repeat" %}
														<div rule-id={{rule.uid}} class="panel panel-warning">
															<div class="flex_container">
																<div class="flex_item_left"> 
																	<i class="fas fa-3x fa-trash"></i> 
																</div>

																<div class="flex_item_right panel-heading panel-collapsed">
																	<h3 class="panel-title">
																		<i class="far fa-2x fa-clock" style="float:left"></i>  
																		<span style="float:left;margin: 10px;">Update every </span>
																		<div class="input-group" style="width: 110px;float: left;">
																			  <input type="text" class="form-control" placeholder="1">
																			  <div class="input-group-btn">
																				<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">hr <span class="caret"></span></button>
																				<ul class="dropdown-menu dropdown-menu-right" role="menu">
																				  <li><a href="#">min</a></li>
																				  <li><a href="#">hr</a></li>
																				  <li><a href="#">day</a></li>
																				</ul>
																			  </div><!-- /btn-group -->
																		</div>
																		<span class="preview-folder"></span>
																	</h3>
																	<span class="pull-right">
																		<i class="fas fa-chevron-up" style="display:none;"></i><i class="fas fa-chevron-down"></i>
																	</span>
																</div>
															</div>
															<div class="panel-body" style="display:none;">
																<div class="folder-container"></div>
																<div class="editor-container">
																	<textarea class="editor mode-editor" id="editor-{{mode.uid}}">
{{ rule.code }}
																	</textarea>
																</div>
															</div>
														</div>
													{% endif %}	
													{% endfor %}
												</div>

												<!-- editor add buttons -->
												<div class="btn-new-editor" type="new-message">
													<div class="panel panel-success">
														<div class="flex_container">
															<div class="flex_item_left"> 
																<i class="fas fa-3x fa-plus-circle"></i> 
															</div>
																	
															<div class="panel-heading flex_item_right panel-collapsed">
																<h3 class="panel-title">
																		<span class="fa-layers fa-fw fa-2x"> 
																			<i class="far fa-envelope"></i>
																			<span class="fa-layers-counter" style="background:Tomato">NEW</span>
																		</span>
																		New message <span class=""></span>
																</h3>		
															</div>
														</div>
													</div>
												</div>
												<div class="btn-new-editor" type="repeat">
														<div class="panel panel-warning">
															<div class="flex_container">
																<div class="flex_item_left"> 
																	<i class="fas fa-3x fa-plus-circle"></i> 
																</div>
																
																<div class="panel-heading flex_item_right panel-collapsed">
																	<h3 class="panel-title">
																		<i class="far fa-2x fa-clock"></i> Update every <span class=""></span>
																	</h3>
																	
																</div>
															</div>
															<!-- Panel body -->		
													</div>
												</div>
									  		</div>
									{% endfor %}
								</div>
								
							{% else %}
								<ul class="nav nav-tabs" role="tablist">
									<li class="active" >
										<a href="#tab_0" data-toggle="tab">
											<span class="tab-title" mode-id=0>
												Default
											</span>
											<i class="fas fa-pencil-alt"></i>
										</a><span class="close">x</span></li>
									<li><a href="#" class="add-tab">+ Add Mode</a></li>
								</ul>
								<div class="tab-content">
									<div class="tab-pane active" id="tab_0">
										<div class='editable-container' type='new-message'>
											<div rule-id=99999 class="panel panel-success">
																<div class="flex_container">
																	<div class="flex_item_left"> 
																		<i class="fas fa-3x fa-trash"></i> 
																	</div>

																	<div class="flex_item_right panel-heading panel-collapsed">
																		<h3 class="panel-title">
																				<span class="fa-layers fa-fw fa-2x"> 
																					<i class="far fa-envelope"></i>
																					<span class="fa-layers-counter" style="background:Tomato">NEW</span>
																				</span>
																			New message <span class="preview-namespace"></span>
																			<span class="preview-folder"></span>
																		</h3>
																		<span class="pull-right">
																			<i class="fas fa-chevron-up" style="display:none;"></i><i class="fas fa-chevron-down"></i>
																		</span>
																	</div>
																</div>
																<div class="panel-body" style="display:none;">
																	<div class="folder-container"></div>
																	<div class="editor-container">
																		<textarea class="editor mode-editor" id="editor-99999">
def on_new_message(new_message):
	if "ads" in new_message.subject:
		new_message.mark_read()
																		</textarea>
																	</div>
																</div>
															</div>
										</div>

										<div class='editable-container' type='repeat'>
														<div rule-id=99999 class="panel panel-warning">
															<div class="flex_container">
																<div class="flex_item_left"> 
																	<i class="fas fa-3x fa-trash"></i> 
																</div>

																<div class="flex_item_right panel-heading panel-collapsed">
																	<h3 class="panel-title">
																		<i class="far fa-2x fa-clock" style="float:left"></i>  
																		<span style="float:left;margin: 10px;">Update every </span>
																		<div class="input-group" style="width: 110px;float: left;">
																			  <input type="text" class="form-control" placeholder="1">
																			  <div class="input-group-btn">
																				<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">hr <span class="caret"></span></button>
																				<ul class="dropdown-menu dropdown-menu-right" role="menu">
																				  <li><a href="#">min</a></li>
																				  <li><a href="#">hr</a></li>
																				  <li><a href="#">day</a></li>
																				</ul>
																			  </div><!-- /btn-group -->
																		</div>		
																		<span class="preview-folder"></span>				
																	</h3>
																	<span class="pull-right">
																		<i class="fas fa-chevron-up" style="display:none;"></i><i class="fas fa-chevron-down"></i>
																	</span>
																</div>
															</div>
															<div class="panel-body" style="display:none;">
																<div class="folder-container"></div>
																<div class="editor-container">
																	<textarea class="editor mode-editor" id="editor-99999">
def repeat_every():
    pass
																	</textarea>
																</div>
															</div>
														</div>
										</div>

										<!-- editor add buttons -->
										<div class="btn-new-editor" type="new-message">
												<div class="panel panel-success">
													<div class="flex_container">
														<div class="flex_item_left"> 
															<i class="fas fa-3x fa-plus-circle"></i> 
														</div>
																
														<div class="panel-heading flex_item_right panel-collapsed">
															<h3 class="panel-title">
																	<span class="fa-layers fa-fw fa-2x"> 
																		<i class="far fa-envelope"></i>
																		<span class="fa-layers-counter" style="background:Tomato">NEW</span>
																	</span>
																	New message <span class=""></span>
															</h3>		
														</div>
													</div>
												</div>
											</div>
											<div class="btn-new-editor" type="repeat">
													<div class="panel panel-warning">
														<div class="flex_container">
															<div class="flex_item_left"> 
																<i class="fas fa-3x fa-plus-circle"></i> 
															</div>
															
															<div class="panel-heading flex_item_right panel-collapsed">
																<h3 class="panel-title">
																	<i class="far fa-2x fa-clock"></i> Update every <span class=""></span>
																</h3>
																
															</div>
														</div>
														<!-- Panel body -->		
												</div>
											</div>
									</div>
								</div>
							{% endif %}
						</div>
					  </div>
		
					  <div id="console" class="info">
						<!-- <span id="engine-status-spinning-bar" class="fa-layers fa-fw fa-2x">
							<i class="fas fa-sync"></i>
							<span class="fa-layers-counter idle-mark" style="background:Tomato">IDLE</span>
						</span>
						<span id='engine-status-msg'></span> -->
						<table id="example" class="table" style="width:100%">
								<thead>
									<tr>
									  <th></th>
									  <th>Sender</th>
									  <th>Subject</th>
									  <th>Deadline</th>
									  <th>Task</th>
									</tr>
								</thead>
								<tbody>
									<tr>
									  <td class='details-control'></td>
									  <td>Dylan McKay</td>
									  <td>Wanna play Frisbee?</td>
									  <td>-</td>
									  <td>-</td>
									</tr>
									<tr>
									  <td class='details-control'></td>
										<td>Soya</td>
										<td>[soyapark/murmur] new data structure and msg arrival event (#81)
										  </td>
										<td>-</td>
										<td><ul><li>Review PR</li></ul></td>
									</tr>
									<tr>
									  <td class='details-control'></td>
										<td>Elena Glassman</td>
										<td>[csail-related] Job Posting: XYZ Robotics is Hiring (Boston)</td>
										<td><span class="label label-info">3/24</span></td>
										<td>-</td>
									</tr>
								</tbody>
							</table>
						<span id='user-status-msg'></span>
						<!-- <div id="console-output">
							<p class="info">Output of your filter will be sent to your inbox. {% if not is_running %}Press a button "Apply" to apply your filter.{% endif %}</p>
						</div>
						{% if user.is_authenticated %}
						{% else %}
						
							<p class="info"><span class='current-date'>01/09/2019 21:25:12</span> <i class="fas fa-lg fa-envelope-square"></i> [csail-related] Looking for roommates, available next month | marked as read</p>
						{% endif %} -->
					  </div>
					</div>

					<div class="card">
						<div class="card-header">
							<h4>Shared functions</h4> 
							You can write shared functions or code here and call them from any modes.
							<br>
							<button class="btn btn-primary" id="btn-shared-save" style="float: right;">Save</button>
							<br><br>
						</div>
						<div class="card-block" id="editor-shared-container">
							<textarea class="editor shared-editor" id="editor-shared">
									{% if shortcuts_exist %}
{{ shortcuts }}
									{% else %}
# add example of shared code here. 
									{% endif %}    
</textarea>
						</div>
					  </div>

					<div class="card">
							<div class="card-header">
								<h4>Rules for email shortcuts</h4> 
								You can use your YoUPS rule from your email interface. Define your shortcut below, then when you forward an email with the shortcut to {{website}}@{{website}}.csail.mit.edu, YoUPS will run the action for you!
								<br>
								<button class="btn btn-primary" id="btn-shortcut-save" style="float: right;">Save</button>
								<br><br>
							</div>
							<div class="card-block" id="editor-shortcut-container">
								<textarea class="editor shortcut-editor" id="editor-shortcut">
										{% if shortcuts_exist %}
{{ shortcuts }}
										{% else %}
import re

# LABEL x, y, z => add labels [x,y,z] to the email
m = re.search('(?<=LABEL)(.*)', get_content())
add_labels( m.groups()[0].split(",") ) # if you are using gmail, then add_gmail_labels
										    
if "TODO" in get_content() and "soya@mit.edu" in get_sender():
    move("todo")	
										    
print get_sender()	
										{% endif %}    
	</textarea>
							</div>
						  </div>
			  </div>

			  <div id="apis-container" style="display:none;" mv-app="api" mv-storage="https://github.com/soyapark/mailbot">
				<h3>Retreive metadata of an email</h3>
                <div property="getter" mv-multiple>
                    <h4>[name] ([params])</h4>
                </div>
                <br>
                <h3>Action on an email</h3>
                <div property="methods"  mv-multiple>
                    <h4>[name] ([params])</h4>
                  </div>
                  <br>
                <h3>Action on a folder</h3>
                <div property="folder"  mv-multiple>
                    <h4>[name] ([params])</h4>
				</div>
				<h3>Action on a mode</h3>
                <div property="mode"  mv-multiple>
                    <h4>[name] ([params])</h4>
                </div>
			  </div>
			  <!-- END editor col -->	
		</div>
	</div>
	<script type="text/javascript">
		var is_authenticated = {{ user.is_authenticated|yesno:"true,false" }},
			is_imap_authenticated = {{ imap_authenticated|yesno:"true,false" }},
			is_test = {{ is_test|yesno:"true,false" }},
			IS_RUNNING = {{ is_running|yesno:"true,false" }},
			IS_INITIALIZED = {{ is_running|yesno:"true,false" }},
			FOLDERS = {{ folders|safe }},
			mode_folder = {{ mode_folder|safe }},
			current_mode = "{{ current_mode.name }}",
			current_mode_id = "{{ current_mode.uid }}";
	</script>
	
	  
	<!-- <a href="/groups/{{group_info.name}}">Back to group info page</a> -->
{% endblock %}

{% block customjs %}
	<script type="text/javascript" src="/static/javascript/notify.js"></script>

	<script type="text/javascript" src="/static/javascript/youps/fontawesome-all.min.js"></script>
	<script type="text/javascript" src="/static/javascript/youps/codemirror.js"></script>
	<script type="text/javascript" src="/static/javascript/youps/addon/edit/matchbrackets.js"></script>
	<script type="text/javascript" src="/static/javascript/youps/python.js"></script>
	<script type="text/javascript" src="/static/javascript/youps/addon/hint/show-hint.js"></script>
	
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.5/require.min.js"></script>
	
	<!-- Underscore, Backbone, backbone-localStorage, jQuery -->
	<script type="text/javascript" src="/static/javascript/youps/console/underscore.min.js"></script>
	<script type="text/javascript" src="/static/javascript/youps/console/backbone.min.js"></script>
	<script type="text/javascript" src="/static/javascript/youps/console/backbone-localStorage.min.js"></script>
	
	<!-- Some extras for the demo: -->
	<script type="text/javascript" src="/static/javascript/youps/console/lettering.js"></script>
	<script type="text/javascript" src="/static/javascript/youps/console/prettify.js"></script>
	<script type="text/javascript" src="/static/javascript/youps/console/DAT.GUI.min.js"></script>

	<script src="/static/javascript/youps/jquery-ui.min.js"></script>
	<script type="text/javascript" src="/static/javascript/youps/jquery.switchButton.js"></script>

	
	<script src="https://get.mavo.io/mavo.js"></script>
	<!-- The JS Sandbox Console script (requires underscore, backbone and jquery): -->
	<!-- <script type="text/javascript" src="/static/javascript/youps/console/sandbox-console.js"></script> -->

	<script type="text/javascript" src="/static/javascript/youps/login_imap.js"></script>
{% endblock %}