#gmail-list {
    padding-bottom: 1em;
}
#email {
    font-style: italic;
    font-size: 90%;
    margin-left: 1em;
    color: #555;
}
#gmail-list #frequency {
    font-size: 80%;
    color: #999;
    margin-left: 0.5em;
}
#gmail-list #label {
    font-size: 80%;
    border: 0.1em solid;
    border-radius: 0.3em;
    padding: 0.2em;
    margin-left: 1em;
}
#gmail-list .label-personal, a.toggle-personal, a.toggle-personal:visited, a.toggle-personal:hover {
    color: #0FAD24;
    border-color: #0FAD24;
    text-decoration: none;
}
#gmail-list .label-social, a.toggle-social, a.toggle-social:visited, a.toggle-social:hover {
    color: #C824D5;
    border-color: #C824D5;
    text-decoration: none;
}
#gmail-list .label-updates, a.toggle-updates, a.toggle-updates:visited, a.toggle-updates:hover {
    color: #FF5733;
    border-color: #FF5733;
    text-decoration: none;
}
#gmail-list .label-forums, a.toggle-forums, a.toggle-forums:visited, a.toggle-forums:hover {
    color: #24A7D5;
    border-color: #24A7D5;
    text-decoration: none;
}
#gmail-list .label-promotions, a.toggle-promotions, a.toggle-promotions:visited, a.toggle-promotions:hover {
    color: #D5245A;
    border-color: #D5245A;
    text-decoration: none;
}
.toggle-all {
    font-size: 0.85em;
    letter-spacing: 0.1em;
}