/*
@author: Anant Bhardwaj
@date: 08/11/2012
*/


html, body, div, span, h1, h2, h3, h4, h5, h6, p, pre, a, abbr, acronym, address, cite, code, del, dfn, font, img, ins, kbd, q, s, samp, small, strike, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, applet, object, iframe, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: baseline;
}


ol, ul, li {
	list-style: none;
}

hr{
	background-color: #447EAC;
	border: thin #447EAC solid;
}


form{
	margin:0px auto;
	margin-top:30px; 
	padding:30px; 
	vertical-align:top;
	background-color: #D7ECFA;
	width:310px;
	box-shadow: 1px 0px 10px #666;
}

form label{
	font-weight:bold; 
	color:#666;
}

form input[type="text"]{
	width:250px;
}

input[type="text"], select{
	padding:5px;
	border: #447EAC solid thin;
}
button, input[type="button"], input[type="submit"]{
	background-color: #3D7AA6;
	color: #FFF;
	border: #447EAC solid thin;
	padding:5px 10px 5px 10px;
}


textarea { 
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
	width: 100%;
	max-width: 100%;
	height:50px;
}

body {
	font-family: Calibri, "Gill Sans", "Gill Sans MT", "Lucida Grande", Lucida, Verdana, sans-serif;
	font-size:10pt;
	height: 100%;
	overflow: auto;
}



#header {
	position: relative;
	height: 39px;
	font-size:11pt;
	background: #3D7AA6;
	margin-bottom: 1px;
	color: white;
	border-bottom: 1px solid #447EAC;
	width: 100%;
}

#headlink-right{
	position:absolute;
	top: 10px;
	right:20px;
	color: #FFF;
}

#headlink-left{
	position:absolute;
	top: 10px;
	left:20px;
	color: #FFF;
}

#headlink-right a, #headlink-left a{
	font-weight: bold;
	text-decoration: none;
	color: #FFF;
}


#page{
	position: absolute;
	top: 40px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	width: 100%;
	background-color: #ccc;
}


#left-column-area-wrapper{
    position: absolute;
        top: 0px;
        right: auto;
        bottom: 0px;
        left: 0px;
        background-color: white;
        color: #333;
        width: 350px;
        z-index:100;
        border-right: #999 solid 1px;
	box-shadow: 1px 0px 10px #666;
}

#left-column-area{
      margin:0;
      padding:0;
}

#posts-table, #groups-table{
	position:absolute;
	top:40px;
	bottom:0px;
	overflow: auto;
}

.table{
	width: 100%;
}




.table .row-item {
	background: white;
	padding: 15px;
        border-bottom: #ccc solid 1px;
        vertical-align: middle;
	border-bottom: 1px solid #ccc;
	cursor: default;
}

.table .row-item.selected {
	background: #FFF7CE!important;
}



.left-column-area-content{
      margin-right:75px;
      padding:0;
}

.left-column-area-metadata{
	float:right;
	width:70px;
	text-align:right;
}


#main-area-wrapper{
	position:absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	padding: 10px;
	left: 350px;
	min-width: 450px;
	overflow: auto;
}

#main-area{
      margin:0;
      padding:0;
}
.main-area-content{
	padding-right: 20px;
	padding-top: 20px;
	padding-left: 20px;
	padding-bottom: 20px;
	margin-bottom: 10px;
	background-color: #FFF;
	box-shadow: 1px 0px 10px #666;
}

#left-column-area .dataTables_wrapper{
	bottom:0px; 
	overflow:auto; 
	border-top: #ccc solid 1px;
}


.left-column-area-content .ellipsis{
	display:block;
	white-space: nowrap;
	max-width: 220px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.left-column-area-metadata .ellipsis{
        display:block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
}

.strong-gray{
	color: #737373;
	font-weight: bold;
}


.gray{
	color: #737373;
}

.strong{
	font-weight: bold;
}

.unread{
	background-color: #D7ECFA;
        color: #3D7AA6;
	text-align:center;
	width: 20px;
	display: inline-block;
}


.default-text {
}

.default-text-active { 
	color: #a1a1a1; 
	font-style: italic;
}

.comment{
	background: #D7ECFA;
	padding: 20px;
	margin-top:10px;
	margin-bottom:10px;
}


.container{
        background: #D7ECFA;
        padding: 5px 10px 5px 10px;
        margin:0px;
}


.reply{
        margin-top:10px;
        margin-bottom:10px;
}


table.dataTable{
	width:100%;
	border-spacing:0;
}

table.dataTable thead tr th {
	color: #333;
	font-weight: bold;
	text-shadow: 1px 1px 1px #fff;
	padding: 10px 15px;
	background: #D7ECFA;
	border-bottom: #ccc solid 1px;
	text-align:left;
}



table.dataTable tbody tr td {
	padding: 15px;
	border-bottom: #ccc solid 1px;
	vertical-align: middle;
}

table.dataTable tbody tr:hover td {
	background: #f0f4f9;
}
	
.dataTables_scroll {
	border: #ccc solid 1px;
}
	
.dataTables_filter {
	background: #f6f6f6;
	padding: 15px 5px;
	border: #ccc solid 1px;
}


.dataTables_filter label{
	display:none;
}

.dataTables_wrapper .bottom {
	background: #f6f6f6;
	padding: 0px;
	border-bottom: #ccc solid 1px;
	color: #999;
	}


