/*
@author: Anant Bhardwaj
@date: 08/11/2012
*/


html, body, div, span, h1, h2, h3, h4, h5, h6, p, pre, a, abbr, acronym, address, cite, code, del, dfn, font, img, ins, kbd, q, s, samp, small, strike, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, applet, object, iframe, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: baseline;
}

h1 {
	font-size: 20px;
	line-height: 26px;
	font-weight: bold;
	color: black;
	margin-bottom: 5px;
	display: inline;
}

h2 {
	font-size: 16px;
	line-height: 24px;
	font-weight: bold;
	color: black;
	margin-bottom: 5px;
	display: inline;
}

ol, ul, li {
	list-style: none;
}

body {
	height: 100%;
	overflow: auto;
}

#header {
	position: relative;
	height: 39px;
	line-height: 1.2;
	background: #999; /* for non-css3 browsers */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cccccc', endColorstr='#000000'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#ccc), to(#000)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #ccc,  #000); /* for firefox 3.6+ */ 
	margin-bottom: 1px;
	color: white;
	border-bottom: 1px solid #C7C8C9;
	width: 100%;
}

#headlink-right{
	position:absolute;
	top: 10px;
	right:20px;
	color: #FFF;
}

#headlink-left{
	position:absolute;
	top: 10px;
	left:20px;
	color: #FFF;
}

#headlink-right a, #headlink-left a{
	font-weight: bold;
	text-decoration: none;
	color: #FFF;
}

.name{
	font-weight: bolder;
	color: #ccc;
}


#page{
	position: absolute;
	top: 40px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	width: 100%;
}

#left-column-area{
    position: absolute;    
	top: 0px;
	right: auto;
	bottom: 0px;
	left: 0px;
	background-color: white;
	color: #333;
	max-width: 50%;
	width: 300px;
	z-index:100;
	border-right: #ccc solid 1px;
}

form{
	margin:0px auto;
	margin-top:30px; 
	padding:30px; 
	vertical-align:top;
	background-color: #FFFFE0;
	width:270px;
}

form label{
	style="font-weight:bold; 
	color:#666;
}

form input[type="text"]{
	width:250px;
}




#main-area{
    position:absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 350px;
	background-color: #FFF;
}


#footer {
    position: absolute;
	border-top: 1px solid #C7C8C9;
	background-color: #DEE0E2;
	margin:0px;	
	padding:0px;
	right: 0;
	bottom: 0;
	left: 0px;
	font-size: 12px;
	height: 49px;
	line-height: 16px;
	width: 100%;
	overflow: hidden;
}



table.dataTable thead tr th {
	color: #333;
	font-weight: bold;
	text-shadow: 1px 1px 1px #fff;
	padding: 10px 15px;
	background: #d3d3d3;
	border-bottom: #ccc solid 1px;
	text-align:left;
}



table.dataTable tbody tr td {
	padding: 15px;
	border-bottom: #ccc solid 1px;
	vertical-align: middle;
	font-size: 13px;
}

table.dataTable tbody tr:hover td {
	background: #f0f4f9;
}
	
.dataTables_scroll {
	border: #ccc solid 1px;
}
	
.dataTables_filter {
	background: #f6f6f6;
	padding: 15px 5px;
	border: #ccc solid 1px;
}


.dataTables_filter label{
	display:none;
}

.dataTables_wrapper .bottom {
	background: #f6f6f6;
	padding: 0px;
	border-bottom: #ccc solid 1px;
	color: #999;
	}


