/*
@author: Anant Bhardwaj
@date: 08/11/2012
*/



#left-column-area .dataTables_wrapper{
	bottom:0px; 
	overflow:auto; 
	border-top: #ccc solid 1px;
}




#posts-table, #groups-table{
	position:absolute;
	top: 50px;
	bottom:0px;
	overflow: auto;
}

.table{
	width: 100%;
}

.table .row-item {
	background: white;
	padding: 15px;
        border-bottom: #ccc solid 1px;
        vertical-align: middle;
	border-bottom: 1px solid #ccc;
	cursor: default;
}

.table .row-item.selected {
	background: #FFF7CE!important;
}


table.dataTable{
	width:100%;
	border-spacing:0;
}

table.dataTable thead tr th {
	color: #333;
	font-weight: bold;
	text-shadow: 1px 1px 1px #fff;
	padding: 10px 15px;
	background: #D7ECFA;
	border-bottom: #ccc solid 1px;
	text-align:left;
}



table.dataTable tbody tr td {
	padding: 15px;
	border-bottom: #ccc solid 1px;
	vertical-align: middle;
}

table.dataTable tbody tr:hover td {
	background: #f0f4f9;
}
	
.dataTables_scroll {
	border: #ccc solid 1px;
}
	
.dataTables_filter {
	background: #f6f6f6;
	padding: 15px 5px;
	border: #ccc solid 1px;
}


.dataTables_filter label{
	display:none;
}

.dataTables_wrapper .bottom {
	background: #f6f6f6;
	padding: 0px;
	border-bottom: #ccc solid 1px;
	color: #999;
	}
